<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>专营号码制白卡--套餐选择</title>
<style type="text/css">
	[m-mask]{
		display: none;
	}
</style>
</head>
<body>
	<div id="app" m-mask>
		<ul class="m-devoted-package">
			<li class="package">
				<div class="lt grey">所选套餐</div>
				<div class="rt">
					<div class="hd">
						<span class="left purple">{{ packageInfo.packTitle }}</span>
						<span class="right blue" m-on:click="packageInfoClick">套餐资费说明</span>
					</div>
					<div class="text grey" m-html="packageInfo.standard"></div>
				</div>
			</li>
			<li class="package bag" m-show="packageInfo.optPackList.length">
				<div class="lt grey">可选包</div>
				<div class="rt">
					<div class="hd" m-for="todo,index in packageInfo.optPackList">
						<span class="left">{{ todo.title }}</span>
						<span class="right blue" m-on:click="bagInfoClick(index)">详情</span>
					</div>
				</div>
			</li>
			<!-- <li>
				<div class="lt grey">面值</div>
				<div class="rt">{{ parseFloat(packageInfo.prestoreMoney)/100 }}元</div>
			</li> -->
		</ul>
	</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
