<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>开白卡--号码列表</title>
<style type="text/css">
	[m-mask]{
		display: none;
	}
	.m-header-col>.lt{
		flex: 2.5;
		-webkit-flex: 2.5;
		background: none;
		font-size: 0.16rem;
		text-align: center;
		line-height: 0.37rem;
	}
	@media screen and (max-width: 330px){
		.m-header-col>.lt{
			flex: 3;
			-webkit-flex: 3;
		}
	}
</style>
</head>
<body>
<div id="app" m-mask>
	<header class="m-header-col">
		<div class="lt purple">{{ phoneFormat(cardInfo.phone) }}</div>
		<div class="search">
			<input m-show="belongType!=2" m-model="searchValue" m-on:keydown="searchKeydown" m-on:input="searchInputChange" class="icon-search" type="tel" maxlength="4" placeholder="请输入尾号进行搜索">
			<input m-show="belongType==2" m-model="searchValue" m-on:keydown="searchKeydown" m-on:input="searchInputChange" class="icon-search" type="tel" maxlength="3" placeholder="请输入尾号进行搜索">
			<span m-show="searchValue.length" m-on:click="clearClick" class="u-icon-clear"></span>
		</div>
		<div class="more purple btnScale" m-on:click="searchClick">搜索</div>
	</header>
	<div class="card-list">
		<ul class="f-scroll" id="cardBox" m-literal:style="boxHeight" m-show="cardList.list.length" m-on:scroll="pullLoad">
			<li m-for="todo in cardList.list">
				<div class="inner" m-on:click="phoneClick(todo)">
					<div m-literal:class="{pretty:todo.pretty==1,number:true}">{{phoneFormat(todo.phoneNum)}}
						<div class="clr">
							<span class="purple">{{todo.cityName,todo.cityName}}</span>
							<span class="fr">
								<em m-if="belongType!=2">￥</em>
								<b>{{ mathCentToYuan(todo.faceMoney) }}</b>
								<em m-if="belongType==2">卡</em>
							</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div m-if="!isPullLoad" class="m-dragup-loading">
			<span class="u-icon-loading"></span>
			<span class="text">
				<em>加载中···</em>
			</span>
		</div>
		<dl class="clr m-panel-svg" m-show="firstLoad">
			<dd m-for="i in pageSize"><div></div></dd>
		</dl>
		<div m-show="!firstLoad">
			<div class="no-data" m-show="cardList.list.length==0">
				<img src="../../assets/img/pic_tishi.png" alt="">
				<div>暂无数据</div>
			</div>
		</div>
		
		<div class="no-more-data" m-show="isHaveMore">暂无更多</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/moonjs@0.11.0/dist/moon.min.js"></script>
</body>
</html>
