@charset "utf-8";
.font-bold{
    font-weight: bold;
}
.line-th{
    text-decoration: line-through;
}
.fmt-10{
    margin-top: 0.1rem !important;
}
.f-s-12{
    font-size: 0.12rem;
}
body{
    background-color:#F8F8F8;
    padding-bottom: 0.3rem;
}

#app{
    height:100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    overflow:auto;
    padding-bottom:0.3rem;
    -webkit-overflow-scrolling : touch;
}
/*TAG*/
.m-tag{
    margin-left: 0.2rem;
    padding:0.1rem 0;
    padding-right: 0.1rem;
    position: relative;
}
.m-tag>.u-icon-tag{
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    background-image: url(../../../assets/img/shiming_title_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.13rem;
    top: 10px;
    left: -0.17rem;
}
/**/
.m-package {
    width: 100%;
    display: flex;
    flex-wrap:wrap;

    display: -webkit-flex;
    -webkit-flex-wrap:wrap;
    padding:.1rem .1rem 0.01rem .1rem;
    font-size: .13rem;
    background-color: #fff;
}
.m-package>li {
    
    display: flex;
    justify-content: center;
    align-items:center;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items:center;
    width: 48%;
    text-align: center;
    border:1px solid transparent;
    background-color: #F0F2F5;
    color: #434343;
    border-radius: 5px;
    padding: 8px 0;
    margin-bottom: .1rem;
    transition: border-color .2s;
    -webkit-transition: border-color .2s;
}
.m-package>li:nth-child(even){
    margin-left:4%;
}
.m-package>.active, .m-package>.active2{
    position: relative;
    border-color: #4b3887;
    background-color:#fff;
}
.m-package>.active>span, .m-package>.active2>span{
    display: inline-block;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%
}
.m-package>.active>span {
    bottom: 0;
    width: .25rem;
    height: .25rem;
    background-image: url(../../../assets/img/icon_choose_sx.png);
}
.m-package>.active2>span {
    background-image: url(../../../assets/img/ic_checked2.png);
    width: .3rem;
    height: .3rem;
    bottom: -1px
}
.m-package>.active{
    color: #4b3887
}
/**/
.o-add-pre{
    position: relative;
    overflow: hidden;
}
.o-add-pre>input{
    position: absolute;
    text-align: center;
    width: 100%;
    border:1px solid transparent;
    background-color: #F0F2F5;
    display: block;
    height: 100%;
}
.o-add-pre.active{
    border-color: transparent !important;
}
.o-add-pre>input:focus, .o-add-pre.active>input{
    border-color: #4b3887;
    background-color: #fff;
}
/**/
.select-info {
    text-align: left;
    max-height: 320px;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
    font-size: .13rem;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal
}
.select-info>dl {
    margin-bottom: .1rem
}

.select-info>dl:last-child {
    margin-bottom: 0
}

.select-info>dl>dt {
    font-size: #2e3e4e;
    margin-bottom: 3px
}

.select-info>dl>dd {
    line-height: 1.6;
    color: #555;
    font-size: .12rem
}

.select-info>dl>.b {
    font-weight: 700;
    color: #232425
}

/*复选框*/
.m-form-checkbox{
    display: inline-block;
    position: relative;
}
.m-form-checkbox>div{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
}

.m-form-checkbox>div>.checkbox{
    white-space: nowrap;
    outline: none;
    display: inline-block;
    position: relative;
    vertical-align: middle
}

.m-form-checkbox>div>.checkbox>span{
    display: inline-block;
    position: relative;
    border: 1px solid #bfcbd9;
    border-radius:100%;
    box-sizing: border-box;
    width: 23px;
    height: 23px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.m-form-checkbox>div>.checkbox>span:active {
    border-color: #4b3887
}

.m-form-checkbox>div>.checkbox>span:after {
    box-sizing: content-box;
    content: "";
    border: 3px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg) scaleY(0);
    -webkit-transform: rotate(45deg) scaleY(0);
    width: 6px;
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    -webkit-transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    transform-origin: center
}

/*.m-form-checkbox>div>.text{
    font-size: 14px;
}*/
.m-form-checkbox>div>.checkbox.active>span{
    border-color: #4b3887;background: #4b3887;
}
.m-form-checkbox>div>.checkbox.active>span:after{
    transform: rotate(45deg) scaleY(1);
    -webkit-transform: rotate(45deg) scaleY(1)
}

/*通用容器*/
.m-order-info{
    background-color: #fff;
    padding: 5px 0;
}
.m-order-info>li{
    margin: 0.1rem;
}
.m-order-info>.double-border{
    margin:0 0.1rem;
    border-top: 2px solid #EEEFF2;
    height: 6px;
    border-bottom:1px solid #EEEFF2;
}
.m-order-info .font-16{
    font-size: 0.16rem;
}
.m-order-info .font-bold{
    font-weight: bold;
}
.m-order-info>li>.left{
    margin-right: 5px;
}
.m-order-info>li>.right{
    text-align: right;
}
.m-order-info>.border{
     border-bottom:1px solid #EEEFF2;
     padding-bottom: 0.1rem;
}
.m-order-info>li>a{
    color: #656565;
    border:1px solid #929293;
    border-radius: 2px;
    font-size: 0.12rem;
    padding: 2px 5px;
    margin-left:0.1rem;
}

/*抵扣*/
.m-deduction{
    background-color: #fff;
    margin:0.1rem;
    border-radius: 3px;
    border-left: 2px solid #4b3887;
    border-right: 2px solid #fff;
    padding: 0.1rem 0;
    padding-left: 0.1rem;
    position: relative;
}
.m-deduction>.account{
    color: #333;
}
.m-deduction>.account>.font-bold{
    color: #212121;
}
.m-deduction>.tips{
    color: #666;
}
.m-deduction>.handle{
    position: absolute;
    right: 10px;
    top: 50%;
    color: #666;
    margin-top: -12px;
}
.m-deduction>.handle .font-bold{
    color: #212121;
    font-weight: bold;
    font-size: 0.16rem;
}
.font-12{
    font-size: 0.12rem;
}

.btn-group{
    margin:0 0.1rem;
    display: flex;
    display: -webkit-flex;
}
.btn-group>.btn-p{
    margin-right:4%;
}
.btn-group>.btn{
    padding: 7px 0;
    flex: 1;
    -webkit-flex:1;
}

.m-reserve-tips{
padding:0.1rem;
padding-top: 0
}
.m-reserve-tips>div>time{
font-weight: bold;
}

/*时间轴*/
.m-time-axis{
    padding-top: 0.1rem;
    display: table;
    text-align: center;
    width: 100%;
}
.m-time-axis>li{
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}
.m-time-axis-sub{padding-bottom: 0.1rem;}
.m-time-axis-sub>li{ float: left;width: 20%;text-align: center;}
.m-time-axis>li>.title{
    color:#CACACA;font-size: 0.1rem;
}
.m-time-axis-sub>li>.sub-line{position: relative;}
.m-time-axis-sub>li>.sub-line>b{
    display: inline-block;
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color:#CACACA;
    vertical-align: middle;
}
.m-time-axis-sub>li>.sub-line>span{
    position: absolute;
    margin-top: 1px;
    top: 50%;
    left: 50%;
    width:80%;
    margin-left: 0.1rem;
    border-top:1px solid transparent;
    border-color:#CACACA;
}
.m-time-axis-sub .set-w-5{width: 0% !important;}
.m-time-axis>.passed>.title{color: #000;}
.m-time-axis-sub>.passed>.sub-line>b{background-color:#000 !important;}
.m-time-axis-sub>.passed>.sub-line>span{border-color:#000 !important;}
.m-time-axis>.active>.title{color: #EC7402;}
.m-time-axis-sub>.active>.sub-line>b{background-color:#EC7402 !important;}
.m-time-axis-sub>.active>.sub-line>span{border-color:#EC7402 !important;/*#6c71c4*/}

@media screen and (max-width: 340px){
    .m-time-axis>li>.title{font-size: 9px;}
    .m-time-axis-sub>li>.sub-line>span{
        width: 75%;
    }
}
@media screen and (min-width: 540px){
    .m-time-axis>li>.title{font-size: 0.12rem;}
    .m-time-axis-sub>li>.sub-line>span{
        width: 85%;
    }
}