<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>写卡</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body style="padding-bottom: 0.3rem;">
	<div id="app" m-mask>
		<ul class="m-time-axis clr">
			<li>
				<div class="title">1.选号选套餐</div>
			</li>
			<li>
				<div class="title">2.实名认证</div>
			</li>
			<li>
				<div class="title">3.支付</div>
			</li>
			<li class="active">
				<div class="title">4.写卡</div>
			</li>
			<li>
				<div class="title">5.开卡受理</div>
			</li>
		</ul>
		<ol class="m-time-axis-sub clr">
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li class="active"><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span class="set-w-5"></span></div></li>
		</ol>
		<ul class="m-order-info clr grey">
			<li><span class="left">订单号码:</span>{{ orderInfo.sysOrderId }}</li>
			<li class="border"><span class="left">生成时间:</span>{{ getDateTime(orderInfo.createTime)[6] }}</li>
			<li>
				<span class="left">所选号码:</span>
				<b class="purple f-fts-18">{{ phoneFormat(orderInfo.phoneNum) }}<i m-show="orderInfo.numberLevel==1" class="u-icon-pretty"></i></b>
				<span>[{{orderInfo.cityName}}]</span>
			</li>
			<li><span class="left">所选套餐:</span>{{ orderInfo.packageName }}</li>
		</ul>
		<section m-show="off.step!=4">
			<div class="m-write-load" m-show="!errorMsg">
				<div class="m-loading-ka"></div>
				<h4 class="purple">写卡中，请勿拔出SIM卡</h4>
			</div>
			<div class="m-error" m-show="errorMsg">
				<img src="../../assets/img/icon_failure.png">
				<h3 class="red">写卡失败</h3>
				<p class="red">{{ errorMsg }}</p>
				<div class="tips grey f-tal">温馨提示：<br>1、操作建议：请更换SIM卡后，点击下方按钮继续开卡;<br>2、有疑问请拨打：语音自助服务10027  客服电话4000410027</div>
				<div m-on:click="readCardICCID" class="btn btny">继续开卡</div>
			</div>
		</section>

		<div m-on:click="callWriteCard" m-literal:class="{active:off.submitLoad,btn:true,btny:true}" m-show="off.step==4">
			<i m-show="!off.submitLoad">提交开卡申请</i>
			<i m-show="off.submitLoad">开卡申请中，请稍后</i>
			<b></b>
		</div>
	</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
