<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>人工审核</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
body{
	padding-bottom: 0.3rem;
}
</style>
</head>
<body>
	<div id="app" m-mask>
		<ul class="m-time-axis clr">
			<li>
				<div class="title">1.号码详情</div>
			</li>
			<li class="active">
				<div class="title">2.实名认证</div>
			</li>
			<li>
				<div class="title">3.支付</div>
			</li>
			<li>
				<div class="title">4.提交申请</div>
			</li>
			<li>
				<div class="title">5.申请受理</div>
			</li>
		</ul>
		<ol class="m-time-axis-sub clr">
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li class="active"><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span class="set-w-5"></span></div></li>
		</ol>

		<div class="m-all-tag"><i class="u-icon-tag"></i><span>开卡号码</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">所选号码:</span>
				<span class="right">{{ phoneFormat(orderInfo.phoneNum) }}<span class="grey f-fts-12">（{{orderInfo.cityName}}）</span></span>
			</div>
			<div class="row">
				<span class="left">所选套餐:</span>
				<span class="right grey">{{ orderInfo.packageName }}</span>
			</div>
		</div>
		<div class="m-all-tag"><i class="u-icon-tag"></i><span>开卡人证件信息</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">用户姓名:</span>
				<span class="right">{{ orderInfo.idCardName }}</span>
			</div>
			<div class="row">
				<span class="left">证件号码:</span>
				<span class="right">{{ orderInfo.idCardNo }}</span>
			</div>
		</div>

		<section class="verification-box">
			<div class="load">
				<div class="loading" m-if="off.load">
					<i></i><i class="layui-m-layerload"></i><i></i>
				</div>
				<div class="loaded" m-if="off.step==2"></div>
			</div>
			<div class="step-text">
				<h3 class="yellow" m-if="off.step==1">我们正在为您检查资料完备性<br>请耐心等待</h3>
				<div m-if="off.step==2">
					<h3 class="green">您的资料已完备上传</h3>
				</div>
				<div m-if="off.step==3">
					<img src="../../assets/img/icon_failure.png">
					<h3 class="red">{{errorMsg}}</h3>
					<div class="m-reason f-tal" m-html="auditReason"></div>
				</div>
			</div>
		</section>
		
		<div m-on:click="jumpDeal" m-show="off.step==3" class="btn btny">确定</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/moonjs@0.11.0/dist/moon.min.js"></script>
</body>
</html>
