<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>选择城市</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<header class="search-header">
		<input type="text" class="icon-search" name="query" m-model="searchQuery" m-on:input="filteredData" placeholder="输入城市中文名" maxlength="20">
		<i class="u-icon-cancel" m-if="!isShowCitySearch" m-on:click="clearInput"></i>
	</header>
	<div m-if="isShowCitySearch" class="city-box f-scroll" id="cityScroll">
		<dl class="clr">
			<dt></dt>
			<dd m-on:click="selectCity(100,'全国')" m-literal:class="{active:location.cityCode==100}">全国</dd>
			<dd m-show="location.cityCode!=100" class="active" m-on:click="selectCity(location.cityCode,location.cityName)"><i class="icon-location"></i>{{location.cityName}}</dd>
		</dl>
		<dl class="clr">
			<dt id="hot">热门城市</dt>
			<dd m-for="todo in hotCity" m-on:click="selectCity(todo.cityCode,todo.cityName)">{{todo.cityName}}</dd>
		</dl>
		<dl class="clr" m-for="item,key in letterList">
			<dt m-literal:id="key">{{ key }}</dt>
			<dd m-for="todo in item" m-on:click="selectCity(todo.cityCode,todo.cityName)">{{todo.cityName}}</dd>
		</dl>
	</div>
	<ul class="search-box" m-if="!isShowCitySearch">
		<li class="icon-search" m-for="todo in filteredData()" m-on:click="selectCity(todo.cityCode,todo.cityName)">{{todo.cityName}}</li>
	</ul>
	<div class="m-no-city grey" m-show="isShowNoCity">暂无该城市信息</div>
	<div class="letter-fix"
		m-if="isShowCitySearch"
		m-on:touchstart="letterTouchStart"
		m-on:touchmove="letterTouchMove"
		m-on:touchend="letterTouchEnd">
		<div m-on:click="letterClick('hot')">热门</div>
		<div m-for="item,key in letterList" m-on:click="letterClick(key)">{{ key }}</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/moonjs@0.11.0/dist/moon.min.js"></script>
</body>
</html>
