<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>活体识别</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}

</style>
</head>
<body style="padding-bottom: 0.3rem;">
	<div id="app" m-mask>
		<ul class="m-time-axis clr">
			<li>
				<div class="title">1.选号选套餐</div>
			</li>
			<li class="active">
				<div class="title">2.实名认证</div>
			</li>
			<li>
				<div class="title">3.支付</div>
			</li>
			<li>
				<div class="title">4.写卡</div>
			</li>
			<li>
				<div class="title">5.开卡受理</div>
			</li>
		</ul>
		<ol class="m-time-axis-sub clr">
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li class="active"><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span></span></div></li>
			<li><div class="sub-line"><b></b><span class="set-w-5"></span></div></li>
		</ol>
		<section m-show="!off.isFace">
			<div class="m-verification-box">
				<div class="inner">
					<img src="../../assets/img/icon_shibie.png">
				</div>
			</div>
		</section>
		<div class="tipsBox">
			<section class="m-verification-box" m-if="!off.isFace">
				<div>
					<p class="f-w">通过人脸拍摄验证身份</p>
					<p class="grey">请遵守以下要求，以便顺利通过验证</p>
				</div>
				<p class="o-tips grey f-tal">1.脸部装扮与身份证照片尽量一致<br>2.确保光线充足<br>3.验证时请将正脸正对屏幕，然后跟随提示完成脸部动作</p>
				<div>
					<div href="javascript:void(0)" m-on:click="toFaceVerification" class="btn bgp btnScale">开始识别</div>
					<div href="javascript:void(0)" m-on:click="jumpToPrev" class="btn btny">上一步</div>
				</div>
			</section>
			<section m-show="off.isFace">
				<div class="m-verification-box">
					<div class="inner">
						<img src="../../assets/img/icon_shibie.png">
						<div m-show="off.isPass" class="u-icon-success"></div>
					</div>
					<div>
						<p class="f-w red" m-show="!off.isPass">人脸识别失败</p>
						<p class="f-w green" m-show="off.isPass">人脸识别通过验证</p>
						
						<p class="grey">与证件照片<span class="yellow">{{faceConfirmInfo.similarity}}%</span>相似度</p>
					</div>
				</div>
				<div class="btn btnp" m-show="!off.isPass" m-on:click="toFaceVerification">重新识别</div>
				<div class="btn btny" m-show="off.isPass" m-on:click="jumpToAudit">提交开卡资料</div>
			</section>
		</div>
	</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
