<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>随心搜</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<section>
		<div class="m-search">
			<div class="m-hd" m-on:click="cityClick">{{ selectCity.cityName }}</div>
			<div class="m-sch">
				<input id="searchInput"
					autocomplete="off"
					m-on:keyup="inputKeyup"
					m-model="inputValue"
					type="tel" placeholder="输入生日或幸运数字" maxlength="11"
				/>
				<span class="u-icon-cancel" m-on:click="inputClearClick" m-show="inputValue.length"></span>
				<span class="u-icon-search" m-on:click="inputSearchClick"></span>
			</div>
		</div>
	</section>
	<section id="hotLabel" m-show="cardInfo.deviceType!=3">
		<ul class="m-hot-label" m-literal:style="hotWide">
			<li
			m-for="item,index in hotLabel"
			m-literal:title="index"
			m-literal:class="{active:selectLabel.tag == item.tag}"
			m-on:click="labelClick">{{ item.name }}</li>
		</ul>
	</section>
	<section class="bgw">
		<div class="m-search-tag grey"><i class="u-icon-rcmd"></i>热门推荐<a m-on:click="jumpSearch" href="javascript:;" class="more purple">查看更多>></a></div>
		<div class="m-card-box">
			<div class="m-nodata-img" m-literal:style="boxHt" m-show="!cardData.list.length">
				<div class="inner">
					<img src="../../assets/img/no-data.png" alt="">
					<div>暂未搜索到数据</div>
				</div>
			</div>
			<ul id="cardBox" class="m-card-ul f-scroll" m-literal:style="boxHt" m-on:scroll="pullLoad">
				<li m-for="todo,index in cardData.list" m-on:click="jumpPackage(index)">
					<div class="lt">
						<span class="u-icon-pretty" m-show="todo.pretty==1"></span>
						<span class="u-icon-ordinary" m-show="todo.pretty==2"></span>
					</div>
					<div class="cr">
						<span class="number" m-html="filterNumber(todo.phoneNum)"></span>
						<span class="city grey">{{ todo.cityName }}<i class="u-icon-devoted" m-show="todo.belongType==1"></i></span>
					</div>
					<div class="rt yellow">
						<span>{{ mathCentToYuan(todo.cardMoney) }}</span>
						<em class="f-fts-12" m-show="todo.belongType=='0'">元</em>
						<em class="f-fts-12" m-show="todo.belongType==1">卡</em>
					</div>
				</li>
			</ul>
			<div class="m-no-more grey" m-show="off.showNoMore">暂无更多</div>
			<div class="m-loading" m-if="off.showPullLoad">
				<span class="u-icon-loading"></span>
				<span class="text">加载中···</span>
			</div>
		</div>
	</section>
	<section class="m-footer-entry" m-show="off.showBtmEntry">
		<div class="item" m-on:click="jumpDevoted"><img src="../../assets/img/devoted_entry.jpg" alt=""></div>
	</section>
</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
