<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>sim卡信息</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<ul class="m-order-info clr grey">
		<li><span class="left">订单号码:</span>{{ orderInfo.sysOrderId }}</li>
		<li class="border"><span class="left">生成时间:</span>{{ getDateTime(orderInfo.createTime)[6] }}</li>
		<li>
			<span class="left">所选号码:</span>
			<b class="purple">{{ phoneFormat(orderInfo.phoneNum) }}<i m-show="orderInfo.numberLevel==1" class="u-icon-pretty"></i></b>
			<span>[{{orderInfo.cityName}}]</span>
		</li>
		<li class="double-border"></li>
		<li><span class="left">+号码占用费</span><span class="fr right">￥{{mathCentToYuan(orderInfo.cardMoney)}}</span></li>
		<li class="border">
			<span class="left">+含预存话费</span>
			<span class="fr right">￥{{mathCentToYuan(orderInfo.prestoreMoney)}}</span>
		</li>
		<li class="clr border"><span class="fr right black">总价:<b class="red font-big">￥{{orderInfo.totalMoney}}</b></span></li>
		<li m-show="off.isFace"><span class="left">活体识别:</span>
			<span class="fr right">
				<span class="green" m-show="off.isPass">成功</span>
				<span class="red" m-show="!off.isPass">失败</span>（{{ orderInfo.similarity }}）
			</span>
		</li>
		<li><span class="left">当前状态:</span>
			<span class="fr right yellow">{{ filterOrderStatus(orderInfo.orderStatusCode).depiction }}</span>
		</li>
	</ul>
	<div class="btn btnp" m-on:click="continueOrder">继续完成订单</div>
</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
