<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>套餐选择</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
body{
	padding-bottom: 0.2rem;
}
.m-all-tag{
	margin-top: 0.2rem;
}
.other-set{
	padding: 0 !important;
}
.other-set>li{
	margin-right:0!important;
	padding-right: 0.1rem;
}
.m-btn-double>.btn{
	margin-top: 0.2rem;
}
</style>
</head>
<body>
<div id="app" m-mask>
	<ul class="m-time-axis clr">
		<li class="active">
			<div class="title">1.号码详情</div>
		</li>
		<li>
			<div class="title">2.实名认证</div>
		</li>
		<li>
			<div class="title">3.签署受理单</div>
		</li>
		<li>
			<div class="title">4.提交申请</div>
		</li>
		<li>
			<div class="title">5.开卡受理</div>
		</li>
	</ul>
	<ol class="m-time-axis-sub clr">
		<li class="active"><div class="sub-line"><b></b><span></span></div></li>
		<li><div class="sub-line"><b></b><span></span></div></li>
		<li><div class="sub-line"><b></b><span></span></div></li>
		<li><div class="sub-line"><b></b><span></span></div></li>
		<li><div class="sub-line"><b></b><span class="set-w-5"></span></div></li>
	</ol>
	
	<ul class="m-order-info clr">
		<li>
			<span class="left grey">所选号码:</span>
			<b class="purple f-fts-18">{{ phoneFormat(cardInfo.phone) }}</b>({{cardInfo.cityName}}<b class="yellow" m-show="cardInfo.pretty==1">,靓号</b>)</li>
		<li class="double-border"></li>
		<li>
			<span class="left grey">+号码占用费</span>
			<span class="fr right discount">￥{{ mathDiscount(cardInfo.phoneMoney,cardInfo.discount) }}</span>
			<span class="fr right oldPrice" m-show="cardInfo.discount!=10000">￥{{ mathCentToYuan(cardInfo.phoneMoney) }}</span>
		</li>
		<li m-show="selectPackage.packageCode">
			<span class="left grey">+含预存话费</span>
			<span class="fr right discount">￥{{ mathDiscount(selectPackage.prestore,selectPackage.discount) }}</span>
			<span class="fr right oldPrice" m-show="selectPackage.discount!=10000">￥{{ mathCentToYuan(selectPackage.prestore) }}</span>
		</li>
		<li class="clr" m-show="selectPackage.packageCode">
			<span class="fr right black">总价:<b class="red font-big">￥{{ totalPrice }}</b></span>
		</li>
	</ul>
	<section class="m-all-tag">
		<div class="tag clr">
			<i class="u-icon-tag"></i>
			<span>套餐选择</span>
		</div>
		<ul class="m-recommend-ul clr">
			<li m-for="todo,index in recommendList" m-on:click="shiftRcmd(index)" m-literal:class="{active:off.packageType==index}">{{ todo.name }}</li>
		</ul>
		<div id="packageList" class="f-scroll">
			<ul class="m-packageList" m-show="!off.loadPackage">
				<li m-for="todo,index in packageList" m-on:click="jumpToPackageDetails(todo.code)" m-literal:class="{active:!todo.info}">
					<div class="title">{{ todo.title }}</div>
					<div class="info grey">{{ todo.info }}</div>
					<div class="right u-icon-right">
						<span class="yellow" m-show="todo.code==selectPackage.packageCode">已选择</span>
					</div>
				</li>
			</ul>
			<span class="pay-load" m-show="off.loadPackage">
				<b class="f1"></b>
				<b class="f2"></b>
				<b></b>
			</span>
		</div>
	</section>
	<section m-show="selectPackage.packageCode" class="m-btn-double">
		<div m-on:click="readCardICCID" class="btn btny">
			<span m-show="!off.load">下一步</span>
			<span m-show="off.load==1">号卡校验中，请稍候<span class="pay-load">
				<b class="f1"></b>
				<b class="f2"></b>
				<b></b>
			</span></span>
			<span m-show="off.load==2">保存套餐中<span class="pay-load">
				<b class="f1"></b>
				<b class="f2"></b>
				<b></b>
			</span></span>
		</div>
	</section>
</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
