<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>sim卡信息</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<section>
	<div class="m-tag"><i class="u-icon-tagnum_1"></i><span>扫码获取的卡信息</span></div>
	<div class="g-col-2">
		<div class="row line">
			<span class="left">ICCID</span>
			<span class="right">{{ scanIccid }}</span>
		</div>
		<div class="row">
			<span class="left">卡状态</span>
			<span class="right">
				<span m-show="off.status==1" class="green">新卡</span>
				<span m-show="off.status==2" class="red">有未完成订单</span>
				<span m-show="off.status==3" class="green">开卡成功</span>
				<span m-show="off.status==4" class="red">无效卡</span>
				<span m-show="off.status==5" class="yellow">进行中</span>
				<span m-show="off.status==6" class="red">开卡失败</span>
			</span>
		</div>
	</div>
	</section>
	
	<!--有未完成订单-->
	<section m-show="off.isEqual">
		<section m-show="off.status!=1">
			<div class="m-tag"><i class="u-icon-tagnum_2"></i><span>读取卡槽中的SIM卡</span></div>
			<div class="g-col-2">
				<div class="row line">
					<span class="left">读取卡号</span>
					<span class="right">{{ userInfo.iccid }}</span>
				</div>
			</div>
			
			<div class="m-tag"><i class="u-icon-tagnum_3"></i><span>未完成订单信息</span></div>
			<div class="g-col-2">
				<div class="row line">
					<span class="left">订单号</span>
					<span class="right">{{ orderInfo.sysOrderId }}</span>
				</div>
				<div class="row line">
					<span class="left">订单状态</span>
					<span m-literal:class="{yellow:off.status==2||off.status==5,green:off.status==3,red:off.status==6,right:true}">{{ filterOrderStatus(orderInfo.orderStatusCode,orderInfo.similarity).depiction }}</span>
				</div>
				<div class="row line">
					<span class="left">所选号码</span>
					<span class="right">{{ phoneFormat(orderInfo.phoneNum) }}</span>
				</div>
				<div class="row line">
					<span class="left">所选套餐</span>
					<span class="right">{{ orderInfo.packageName }}</span>
				</div>
				<div class="row">
					<span class="left">总价</span>
					<span class="right">￥{{ mathCentToYuan(orderInfo.totalMoney) }}</span>
				</div>
			</div>

			<div class="m-btn-group" m-show="off.status==2">
				<span class="btn btnDefault" m-on:click="orderCancel">放弃</span>
				<span class="btn btny" m-on:click="continueOrder">继续开卡</span>
			</div>

			<div class="m-tips grey" m-show="off.status==3">温馨提示：开卡成功，您可以登录“远特i卡”掌上营业厅，可进行充值，查询实时话费、我的套餐、套餐余量等业务;</div>
			<div class="btn btny" m-show="off.status==3" m-on:click="jumpToLogin">去登录</div>

			<dl class="m-order-tips grey" m-show="off.status==5">
				<dt>温馨提示:</dt>
				<dd>1、您的开卡申请已受理，请耐心等待开卡结果</dd>
				<dd>2、开卡成功我们将以短信的形式进行通知。</dd>
				<dd>3、您可以点击“重新获取”按钮获取开卡结果</dd>
			</dl>
			<div class="btn btny" m-show="off.status==5" m-on:click="intervalGetResult">重新获取</div>

			
			<dl class="m-order-tips grey" m-show="off.status==6">
				<dt>温馨提示:</dt>
				<dd class="red">1、失败原因：{{ orderInfo.orderDesc }}</dd>
				<dd>2、支付的金额我们将在24小时内退回到您的账户。</dd>
				<dd>3、马上联系客服：语音自助服务10027 客服电话4000410027</dd>
			</dl>
			<div class="btn btny" m-show="off.status==6" m-on:click="jumpToIndex">确定</div>
		</section>
	</section>
	<!--扫描卡与读取卡iccid不一致 || 没有读取到iccid-->
	<section m-show="!off.isEqual">
		<div class="m-tag"><i class="u-icon-tagnum_2"></i><span>读取卡槽中的SIM卡</span></div>

		<div class="m-nocard-tips" m-show="deviceType==1">
			<div class="left"><img src="../../assets/img/picture_phone_insert.png"></div>
			<div class="right grey">温馨提示：<br>请将扫码卡板上的同一手机SIM卡插入当前手机的主卡槽。为提高开卡成功率，请确保手机连接无线局域网（WIFI）</div>
		</div>

		<div class="m-nocard-tips" m-show="deviceType==2">
			<div class="left"><img src="../../assets/img/picture_watch_insert.png"></div>
			<div class="right grey" style="margin-top: 0">
				<p>温馨提示：<br>请打开蓝牙，连接到您的手表。当右上角状态为</p>
				<div class="m-wacard-tips">
					<div><i class="u-icon-wcg"></i>设备已连接</div>
					<div><i class="u-icon-wcr"></i>设备未连接<span class="red">点击右上角连接设备</span></div>
				</div>
				<p>将您所扫卡板上的同一SIM卡插入手表卡槽中，点击下方“读取SIM卡信息”按钮</p>
			</div>
		</div>

		<div class="m-nocard-error">
			<div class="iccid"><span class="grey">读取卡号</span><b>{{ userInfo.iccid }}</b></div>
			<div m-show="deviceStatus==1">
				<div class="m-tips red" m-show="!userInfo.iccid">提示：未读取到SIM卡，请插入有效的SIM卡重新读取</div>
				<div class="m-tips red" m-show="!off.isEqual">提示：当前卡信息与扫码读取的卡信息不一致，请更换SIM卡后重新读取</div>
			</div>
			<div m-show="deviceStatus==2">
				<div class="m-tips red" m-show="!userInfo.iccid">提示：读取失败，请插入有效的SIM卡重新读取</div>
			</div>
			<div m-show="deviceStatus==3">
				<div class="m-tips red" m-show="!userInfo.iccid">提示：未插卡，请插入有效的SIM卡重新读取</div>
			</div>
			<div m-show="deviceStatus==4">
				<div class="m-tips red" m-show="!userInfo.iccid">提示：设备未连接，请点击右上角进行设备连接，再重新读取</div>
			</div>
		</div>
		<div class="btn btny" m-on:click="readCardICCID">读取SIM卡信息</div>
	</section>
</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
