<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>sim卡信息</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<section class="m-insert-card" m-show="off.status!=4">
		<header class="m-top-msg">
			<span class="green" m-show="off.status==1">当前卡SIM卡为有效卡</span>
			<span class="red" m-show="off.status==2">您还有一项未完成操作</span>
			<span class="green" m-show="off.status==3">当前卡SIM卡已开卡成功</span>
		</header>
		<div class="m-card-box">
			<div class="m-inner-box">
				<img src="../../assets/img/sim_card.png">
				<div class="iccid">{{ userInfo.iccid }}</div>
			</div>
		</div>
		
		<div class="btn btny" m-show="off.status==1" m-on:click="toIndexPage">号码任您选</div>
		<div class="m-btn-gp" m-show="off.status==2">
			<div class="btn btnp" m-on:click="toOrderPage">查看详情</div>
			<div class="btn btny" m-on:click="toIndexPage">随便看看</div>
		</div>
		<div class="m-tips" m-show="off.status==3">
			<div>温馨提示：</div>
			<p class="grey">1、恭喜您成为远特用户；<br/>2、您可通过“卡盟通服”，进行充值，查询实时话费、我的套餐、套餐余量等业务；<br/>3、如需继续开卡，请更换SIM卡后进行操作；<br/>4、如有疑问请拨打：语音自助服务10027  客服电话4000 410027</p>
			<div class="btn btny" m-on:click="toLoginPage">马上去查查</div>
		</div>
	</section>
	<div class="m-insert-card" m-show="off.status==4">
		<header class="m-top-msg">
			<p class="red ftb" m-show="deviceStatus==1">抱歉，当前SIM卡为无效卡！</p>
			<p class="red ftb" m-show="deviceStatus==2">读取SIM卡信息失败</p>
			<p class="red ftb" m-show="deviceStatus==3">未检测到SIM卡插入卡槽</p>
			<span>请将“远特信时空”SIM卡插入手机卡槽</span>
		</header>
		<div class="m-card-box">
			<div class="m-inner-box">
				<img src="../../assets/img/phone_sim.png">
			</div>
		</div>
		<div class="grey">插入后请点击“确定，SIM卡已插入”按钮</div>
		<div class="btn btnp" m-on:click="readCardICCID">确定，SIM卡已插入</div>
	</div>
</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
