<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>读取设备信息</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<header class="m-device" m-on:click="readCardICCID">
		<div class="lt eSIM"></div>
		<div class="rt info">
			<div class="name">
				<h3>{{ deviceName }}</h3>
				<div class="tip">点击刷新设备状态</div>
			</div>
			<div class="bluetooth">
				<i class="u-icon-bluetooth"></i>
				<span class="red" m-show="deviceStatus==4">未连接</span>
				<span class="green" m-show="deviceStatus!=4">已连接</span>
			</div>
			<div class="power">
				<i class="u-icon-power"></i>
				<span m-literal:class="{red:devicePower<30}">{{ devicePower }}%</span>
			</div>
			<div class="tip">
				<p>远特eSIM服务开通过程中，请确保：</p>
				<p>1、手机与手表蓝牙连接正常;</p>
				<p>2、手表电量不低于30%;</p>
			</div>
		</div>
	</header>
	<!--未连接-->
	<section m-show="deviceStatus==4">
		<div class="m-tips red">提示：当前手机未与手表连接，请点击刷新手表状态。如未连接成功，请返回APP进行设备管理，待连接成功，可继续开卡操作。</div>
		<div class="btn btnp" m-on:click="jumpToApp">返回APP</div>
	</section>

	<section m-show="deviceStatus!=4">
		<div class="m-tag"><i class="u-icon-sim"></i><span>SIM卡信息</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">SIM卡号</span>
				
				<span class="right" m-show="load.read">
					<div class="m-spin-load">
						<span class="load"></span>
						<span class="text purple">正在读取中</span>
					</div>
				</span>
				<span class="right" m-show="!load.read">
					<span class="red" m-show="deviceStatus==2">读取SIM卡信息失败<i class="u-icon-warning"></i></span>
					<span class="red" m-show="deviceStatus==3">手表卡槽内无卡<i class="u-icon-warning"></i></span>
					<span class="red" m-show="off.status==4">卡槽中为无效卡<i class="u-icon-warning"></i></span>
					<span m-show="off.status!=4">{{ cardInfo.iccid }}</span>
				</span>
			</div>
			<!--订单信息-->
			<div class="row" m-show="off.status==2 || off.status==3 || off.status==5 || off.status==6">
				<span class="left">开通状态</span>
				<span class="right">
					<span m-literal:class="{yellow:off.status==2||off.status==5,green:off.status==3,red:off.status==6,right:true}">{{ filterOrderStatus().depiction }}</span>
				</span>
			</div>
		</div>
		<div m-show="deviceStatus!=1" class="btn btnp" m-on:click="readCardICCID">重新读取SIM卡信息</div>
	</section>

	<!--订单信息-->
	<section m-show="off.status==2 || off.status==3 || off.status==5 || off.status==6">
		<div class="m-tag"><i class="u-icon-order"></i><span>订单信息</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">订单号</span>
				<span class="right">{{ orderInfo.sysOrderId }}</span>
			</div>
			<div class="row line">
				<span class="left">所选号码</span>
				<span class="right">{{ phoneFormat(orderInfo.phoneNum) }}</span>
			</div>
			<div class="row line">
				<span class="left">所选套餐</span>
				<span class="right">{{ orderInfo.packageName }}</span>
			</div>
			<div class="row">
				<span class="left">已付金额</span>
				<span class="right">￥{{ mathCentToYuan(orderInfo.totalMoney) }}</span>
			</div>
		</div>

		<div class="m-btn-group" m-show="off.status==2">
			<span class="btn btnDefault_dp" m-on:click="orderCancel">放弃</span>
			<span class="btn btny" m-on:click="continueOrder">继续开通</span>
		</div>
		<!--开卡成功-->
		<section m-show="off.status==3">
			<dl class="m-order-tips grey" m-show="orderInfo.setPwd==0">
				<dt>温馨提示:</dt>
				<dd>1、<span class="green">已开通成功</span>;</dd>
				<dd>2、如有其它疑问请联系客服：语音自助服务10027 客服电话400-631-5234。</dd>
			</dl>
			<div class="m-spin-load" m-show="orderInfo.setPwd=='0'">
				<span class="load"></span>
				<span class="text purple">我们将为您做最后的配置</span>
			</div>

			<dl class="m-order-tips grey" m-show="orderInfo.setPwd==1">
				<dt>温馨提示:</dt>
				<dd>1、<span class="green">已开通成功</span>;</dd>
				<dd>2、您可以登录“远特eSIM”掌上营业厅，可进行充值，查询实时话费、我的套餐、套餐余量等业务;</dd>
				<dd>3、如有其它疑问请联系客服：语音自助服务10027 客服电话400-631-5234。</dd>
			</dl>
			<div class="m-btn-group" m-show="orderInfo.setPwd==1">
				<span class="btn btnDefault_dp" m-on:click="jumpToApp">返回APP</span>
				<span class="btn btny" m-on:click="jumpToLogin">登录远特eSIM掌厅</span>
			</div>

			<dl class="m-order-tips grey" m-show="orderInfo.setPwd==2">
				<dt>温馨提示:</dt>
				<dd>1、<span class="green">已开通成功</span>;</dd>
				<dd>2、<span class="red">密码设置失败，登录时请选择‘短信验证码’登录</span>;</dd>
				<dd>3、如有其它疑问请联系客服：语音自助服务10027 客服电话400-631-5234。</dd>
			</dl>
			<div class="m-btn-group" m-show="orderInfo.setPwd==2">
				<span class="btn btnDefault_dp" m-on:click="jumpToApp">返回APP</span>
				<span class="btn btny" m-on:click="jumpToLogin">登录远特eSIM掌厅</span>
			</div>
		</section>
		
		<!--写卡等待开卡结果-->
		<dl class="m-order-tips grey" m-show="off.status==5">
			<dt>温馨提示:</dt>
			<dd>1、您的开卡申请已受理，请耐心等待开通结果</dd>
			<dd>2、开通成功我们将以短信的形式进行通知。</dd>
			<dd>3、您可以点击“重新获取”按钮获取开卡结果</dd>
		</dl>
		<div class="btn btny" m-show="off.status==5" m-on:click="intervalGetResult()">重新获取</div>

		<!--已写卡开卡失败-->
		<dl class="m-order-tips grey" m-show="off.status==6">
			<dt>温馨提示:</dt>
			<dd>1、失败原因：<span class="red">{{ orderInfo.orderDesc }}</span></dd>
			<dd>2、支付的金额我们将在24小时内退回到您的账户。</dd>
			<dd>3、马上联系客服：语音自助服务10027 客服电话400-631-5234</dd>
		</dl>
		<div class="btn btny" m-show="off.status==6" m-on:click="jumpToHome">确定</div>
	</section>
</div>
<script src="https://cdn.jsdelivr.net/npm/moonjs@0.11.0/dist/moon.min.js"></script>
</body>
</html>
