<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>开卡方式</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}

</style>
</head>
<body>
<div id="app" m-mask>
	<section m-show="!off.turn" class="g-full-box">
		<header class="m-hd-dp">
			<h2 class="purple">远特i卡你&我的开卡工具</h2>
		</header>
		<div m-show="off.status">
			<div m-show="checkMachine.type!=1" class="m-tag" m-on:click="showInsertCard()">
				<i class="u-icon-error"></i>
				<span class="red" m-show="off.status == 5">未检测到卡槽中有卡，查看详情 >></span>
				<span class="red" m-show="off.status == 4">卡槽中为无效卡，查看详情 >></span>
			</div>
		</div>
		<div m-show="checkMachine.type==1" class="m-tag">
			<i class="u-icon-error"></i>
			<span class="red">{{ checkMachine.desc }}</span>
		</div>
		<div class="m-scan-box">
			<div class="scan" m-on:click="scanQRcode()">
				<img src="../../assets/img/ruten_btn_scan.png">
			</div>
			<p class="bar blue"><b>点击扫描卡板背面条形码</b></p>
			<div class="m-tips-m grey">
				<p>友情提示：</p>
				<p class="f-fts-12" m-show="off.isScan">1、如果开成卡或白卡，请点击扫码开卡，扫描卡板背面条形码，我们将引导您如何进行开卡。<br>2、扫码时，请注意对准卡面上的条形码。</p>
				<p class="f-fts-12">1、如果开空卡，请退出并把远特sim卡插入手机卡槽，重新启动。<br>2、如果开成卡或白卡，请点击扫码开卡，扫描卡板背面条形码，我们将引导您如何进行开卡。<br>3、扫码时，请注意对准卡面上的条形码。</p>
			</div>
			<div class="footer blue">
				<span m-on:click="jumpToLookArround">随便看看</span>
				<em></em>
				<span m-on:click="jumpToLogin">登录掌厅</span>
			</div>
		</div>
		<!-- <div class="m-btn-gp">
			<div class="row" m-on:click="scanQRcode()">
				<div class="lt">
					<div class="scan">扫码开卡</div>
					<div class="dp grey" m-show="!checkMachine.type">扫码远特通信卡板背面的条形码<br>我们将引导您如何进行开卡</div>
					<div class="dp red" m-show="checkMachine.type">{{ checkMachine.desc }}</div>
				</div>
				<div class="rt"><img src="../../assets/img/ik_inlet_01.png"></div>
				<div class="bt purple"></div>
			</div>
			<div class="row" m-on:click="jumpToLookArround">
				<div class="lt">
					<div class="look">随便看看</div>
					<div class="dp grey">随意浏览远特i卡码号资源<br>通过购卡指南获取远特i卡</div>
				</div>
				<div class="rt"><img src="../../assets/img/ik_inlet_02.png"></div>
				<div class="bt green"></div>
			</div>
			<div class="row" m-on:click="jumpToLogin">
				<div class="lt">
					<div class="login">登录掌厅</div>
					<div class="dp grey">提供话费充值和查询实时话费等业务</div>
				</div>
				<div class="rt"><img src="../../assets/img/ik_inlet_03.png"></div>
				<div class="bt green"></div>
			</div>
		</div> -->
	</section>

	<section class="m-insert-card" m-show="off.turn==4 || off.turn==5"><!--无效卡或未插卡-->
		<header class="m-top-msg">
			<p class="red ftb" m-show="off.turn==4">抱歉，当前SIM卡为无效卡！</p>
			<p class="red ftb" m-show="off.turn==5">未检测到SIM卡插入卡槽</p>
			<span>请将“远特信时空”SIM卡插入手机卡槽</span>
		</header>
		<div class="m-card-box">
			<div class="m-inner-box">
				<img src="../../assets/img/picture_phone.png">
			</div>
		</div>
		<div class="grey">插入后请点击“确定，SIM卡已插入”按钮</div>
		<div class="btn btnp" m-on:click="begin()">确定，SIM卡已插入</div>
	</section>

	<section m-show="off.turn==1">
		<div class="m-tag"><i class="u-icon-tagnum_1"></i><span>卡槽1</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">卡号</span>
				<span class="right">{{ iccidsRes[0].scanIccid }}</span>
			</div>
			<div class="row">
				<span class="left">卡状态</span>
				<span class="right">
					<span m-show="iccidsRes[0].status==1" class="green">空卡</span>
					<span m-show="iccidsRes[0].status==8" class="green">成卡</span>
					<span m-show="iccidsRes[0].status==9" class="green">白卡</span>
					<span m-show="iccidsRes[0].status==10" class="green">远盟成卡</span>
					<span m-show="iccidsRes[0].status==2" class="yellow">开卡进行中</span>
					<span m-show="iccidsRes[0].status==5" class="yellow">开卡进行中</span>
				</span>
			</div>
		</div>
		<div class="m-tag"><i class="u-icon-tagnum_2"></i><span>卡槽2</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">卡号</span>
				<span class="right">{{ iccidsRes[1].scanIccid }}</span>
			</div>
			<div class="row">
				<span class="left">卡状态</span>
				<span class="right">
					<span m-show="iccidsRes[1].status==1" class="green">空卡</span>
					<span m-show="iccidsRes[1].status==8" class="green">成卡</span>
					<span m-show="iccidsRes[1].status==9" class="green">白卡</span>
					<span m-show="iccidsRes[1].status==10" class="green">远盟成卡</span>
					<span m-show="iccidsRes[1].status==2" class="yellow">开卡进行中</span>
					<span m-show="iccidsRes[1].status==5" class="yellow">开卡进行中</span>
				</span>
			</div>
		</div>
		<div class="m-tips red">温馨提示：您当前手机卡槽中的两张SIM卡，都为远特卡，请选择一张进行相关操作。</div>
		<div class="m-btn-group">
			<span class="btn btny" m-on:click="choiceSlot('0')">卡槽1</span>
			<span class="btn btny rt" m-on:click="choiceSlot('1')">卡槽2</span>
		</div>
	</section>
	<div class="full-load" m-show="off.load">
		<div class="hd"><img src="../../assets/img/icon_waiting.png" alt=""></div>
		<div class="ld">
			<span class="ft"></span>
			<span class="sd"></span>
		</div>
		<p class="grey">正在读取，请耐心等待</p>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/moonjs@0.11.0/dist/moon.min.js"></script>
</body>
</html>
