<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>人工审核</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
body{
	padding-bottom: 0.3rem;
}
.m-time-axis-sub>li, .m-time-axis>li{
	width: 25% !important;
}
</style>
</head>
<body>
	<div id="app" m-mask>
		<div class="m-all-tag"><i class="u-icon-tag"></i><span>开卡号码</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">所选号码:</span>
				<span class="right">{{ phoneFormat(orderInfo.phoneNum) }}<span class="grey f-fts-12">（{{orderInfo.cityName}}）</span></span>
			</div>
			<div class="row">
				<span class="left">所选套餐:</span>
				<span class="right grey">{{ orderInfo.packageName }}</span>
			</div>
		</div>
		<div class="m-all-tag"><i class="u-icon-tag"></i><span>开卡人证件信息</span></div>
		<div class="g-col-2">
			<div class="row line">
				<span class="left">用户姓名:</span>
				<span class="right">{{ orderInfo.idCardName }}</span>
			</div>
			<div class="row">
				<span class="left">证件号码:</span>
				<span class="right">{{ orderInfo.idCardNo }}</span>
			</div>
		</div>
		<section class="verification-box">
			<div class="load">
				<div class="loading" m-if="off.load">
					<i></i><i class="layui-m-layerload"></i><i></i>
				</div>
			</div>
			<div class="step-text">
				<h3 class="yellow" m-if="off.step==1">我们正在为您检查资料完备性<br>请耐心等待</h3>
				<h3 class="yellow" m-if="off.step==2">资料审核已通过<br>我们正在为您提交开卡申请</h3>

				<div m-if="off.errorStatus==1"><!--审核失败-->
					<img src="../../assets/img/icon_failure.png">
					<h3 class="red">{{errorMsg}}</h3>
					<div class="m-reason f-tal" m-html="auditReason"></div>
					<div m-on:click="jumpBegin" class="btn btny">确定</div>
				</div>
				<div m-if="off.errorStatus==2"><!--提交开卡申请失败-->
					<img src="../../assets/img/icon_failure.png">
					<h3 class="red">提交开卡申请失败，请重新提交</h3>
					<div m-on:click="submitOrder" class="btn btny">重新提交</div>
				</div>
			</div>
		</section>
		
		
	</div>
<script src="https://cdn.jsdelivr.net/npm/moonjs@0.11.0/dist/moon.min.js"></script>
</body>
</html>
