.m-tips{
    font-size: 0.12rem;
    padding: 0.1rem;
}
.m-btn-group{
    padding:0 0.2rem;
}
.m-btn-group>.btn{
    display: inline-block;
}
.m-btn-group>.btny{
    width: 63%;
}
.m-btn-group>.btnDefault_dp{
    width: 32%;
    margin-right:3%; 
}
.btnDefault_dp{

}
.btnDefault_dp{
    color: #777;
    background-color: #FFF;
    border-color: #BBB
}
.btnDefault_dp:active{
    color: #ACA9A9;
    background-color: #ececec;
    border-color: #CECECE
}

.m-order-info>li{
    margin:5px 0 5px 0.1rem;
}
.m-all-tag{
	margin-top:0.15rem;
}
.m-all-tag>.tag{
	margin-bottom: 0;
}

.m-order-info>li>.left{
	display: inline-block;
	width:0.55rem;
	text-align:right;
}

.m-error{

}
.m-error>.tips{
	margin-top:0.2rem;
	font-size: 0.12rem;
	line-height: 1.65;
	padding:0 0.2rem;
}

.btn.btny{
	color:#EA6E08 !important;
	border-color:#EA6E08 !important;
	position: relative;
}
.btn.btny:active{
	background-color:#F1B97C;
}
.btn.btny>b{
	position: absolute;
	display: block;
	width: 0;height: 100%;top: 0;left: 0;
	border-radius: 25px;
	z-index: -1;
	background-color:#F1B97C;
}
.btn.btny.active>b{
	animation:aniBgMove 2s linear infinite;
	-webkit-animation:aniBgMove 2s linear infinite;
}
@keyframes aniBgMove{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@-webkit-keyframes aniBgMove{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}