.icon-location{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    width: 0.15rem;
    height: 0.15rem;
    background-image: url('../../../assets/img/icon_location_yellow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-search{background-image: url('../../../assets/img/icon_search_grey.png');}
body{
    background-color: #fff;
}

.search-header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #F0F0F4;
    padding: .1rem .2rem
}
.search-header>input{
    width: 100%;
    text-indent: .3rem;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: .17rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    height: .4rem;
    font-size: .15rem;
    line-height: 1.6;
    outline: 0;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}
.search-header>input:focus {
    outline: 0;
    border-color: #ECAC17
}
.search-header>.u-icon-cancel{
    display: inline-block;
    position: absolute;
    top: 0.1rem;
    right: 0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    background-repeat: no-repeat;
    background-size: 0.2rem;
    background-position:center;
}

.city-box{
    margin-top: 0.6rem;
}
.city-box>dl>dd{

}
.city-box>dl {
    padding:5px 0 0 10px;
    margin-right:30px;
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
    color: #212121;
}

.city-box>dl>dt {
    padding-bottom: 0.1rem;
    width: 100%;
}

.city-box>dl>dd{
    width: 31%;
    float: left;
    text-align: center;
    background-color: #F4F4F4;
    border:1px solid transparent;
    padding: 6px 0 6px 0;
    border-radius: 7px;
    margin-bottom: 10px;
}
.city-box>dl>dd:nth-child(3n){
    margin:0 3.5%;
}
.city-box>dl>.active{
    border-color: #ECAC17;
    color: #ECAC17;
    background-color: #fff;
}

.letter-fix{
    position: fixed;
    top: 0.7rem;
    right: 0;
}
.letter-fix>div{
    display: block;
    width: 0.3rem;
    font-size: 0.14rem;
    color: #414141;
    text-align: center;
    padding-bottom:3px;
}
.letter-fix>div:active{
    color:#ECAC17;
}

.search-box{
    margin-top:0.6rem;
}
.search-box>li{
    padding: 0.1rem 0.3rem;
    background-repeat: no-repeat;
    background-size: 0.15rem;
    background-position:8px center;
    border-bottom: 1px solid #eee;
}