@charset "utf-8";
.u-icon-search{background-image: url(../../../assets/img/icon_search.png);}
.u-icon-rcmd{background-image: url(../../../assets/img/recommend.png);}
.u-icon-cancel{background-image: url(../../../assets/img/cancel.png);}
.u-icon-pretty{background-image: url(../../../assets/img/icon_beautiful.png);}
.u-icon-ordinary{background-image: url(../../../assets/img/icon_common.png);}
/*.u-icon-devoted{background-image: url(../../../assets/img/icon_monopoly_number.png);}*/
.u-icon-act{
	background-image: url(../../../assets/img/hint_ic_zhe.png);
}

body{
	padding:0 !important;
	margin:0 !important;
}
#app{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    width: 100%;
}
#app>div{
    flex: 1;
    -webkit-flex: 1;
}
.m-sch>span, .m-slt-lb>.u-icon-clear, .m-card-ul .u-icon-pretty{
	background-repeat: no-repeat;
	background-position: center;
}

/*-----------搜索----------*/
.m-msg{
	position: relative;
	padding:3px 0;
	padding-left: 5px;
	width: 100%;
	animation:msgDown .5s ease-in-out;
}
@keyframes msgDown{
	0%{
		top: -25px;
	}
	100%{
		top: 0;
	}
}
.m-search-tag{
	padding-top:5px;
	padding-left: 0.1rem;
	padding-bottom:5px;
	border-bottom: 1px solid #eee;
	position: relative;
}
.m-search-tag>.u-icon-rcmd{
	display: inline-block;
	vertical-align: top;
    position:relative;
    left: -5px;
    top:-1px;
    width: 0.2rem;
    height: 0.2rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.2rem;
}
.m-search-tag>.more{
	position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 0.3rem;
    line-height: 0.31rem;
    padding-right: 0.1rem;
}
.m-search{
	padding:0.1rem;
	display: flex;
	display: -webkit-flex;
}
.eSIM{
	background-color:#66B92A;
}
.iCard{
	background-color:#4b3887;
}
.m-hd{
	width: 0.6rem;
	height: 0.38rem;
	line-height: 0.39rem;
	font-size:0.15rem;
	text-align: center;
	margin-top: 1px;
	margin-right:0.1rem;
	white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color:#fff;
    border-radius: 7px;
    color: #FF6600;
}
.m-sch{
	position: relative;
	flex:1;
	-webkit-flex:1;
}
.m-sch>input{
	display: block;
	width: 100%;
	font-size: 0.15rem;
    height: 0.4rem;
    line-height:normal;
    padding-left: 0.15rem;
    border:1px solid transparent;
    border-radius: 7px;
    transition:border-color .3s;
}
.m-sch>input::-webkit-search-cancel-button {
	display: none;
}
.m-sch>input::-webkit-input-placeholder { 
  line-height: 1.6em;
}
.m-sch>input:-moz-placeholder {
  line-height: 1.6em;
}
.m-sch>input::-moz-placeholder {
  line-height: 1.6em;
}
.m-sch>input:-ms-input-placeholder {
  line-height: 1.6em;
}
.m-sch>span{
	position: absolute;
	top: 0;
	display: inline-block;
	width:0.4rem;
	height: 0.4rem;
}
.m-sch>.u-icon-cancel{
	background-size:0.2rem;
	right: 0.45rem;
}
.m-sch>.u-icon-search{
	background-size:0.25rem;
	right: 0;
}
.m-slt-lb{
	display: inline-block;
	padding:6px 7px 5px 7px;
	border-radius: 3px;
	border:1px solid transparent;
	border-color:#eee;
	background-color: #fff;
}
.m-slt-lb>.u-icon-clear{
	width: 0.15rem;
	height: 0.15rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	background-size:0.15rem;
	position: relative;
	top: -1px;
}
/*-----------热门标签----------*/
#hotLabel{
	margin:0.1rem 0.1rem 0 0.1rem;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.m-hot-label{
	width: 2300px;
	height: 40px;
}
.m-hot-label>li{
	display: inline-block;
	padding:5px 10px 5px 10px;
	border-radius: 3px;
	border:1px solid transparent;
	border-color:#DFDFDF;
	font-size: 12px;
	color: rgba(0,0,0,0.65);
	background-color: #fff;
	margin-right: 0.1rem;
	margin-bottom:0.1rem;
}
.m-hot-label>li.active{
	background-color: #4b3887;
	color: #fff;
	border-color:#4b3887;
}

.m-search-label{
	margin-top: 0.15rem;
}
/*-----------号码----------*/
.m-card-box{
	position: relative;
	padding:0 0.1rem 0 0.1rem;
}
.m-card-ul{
	padding-bottom: 0.27rem;
}
.m-card-ul>li{
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom:1px dashed #eee;
	height: 0.4rem;
	line-height: 0.4rem;
}
.m-card-ul>li>.lt{
	margin: 0 5px;
}
.m-card-ul>li>.cr{
	flex: 1;
}
.m-card-ul>li>.rt{
	
}
.m-card-ul>li>.rt span{
	font-size: 0.15rem;
}
.m-card-ul>li>.cr>.number{
	display: inline-block;
	font-size: 0.18rem;
	letter-spacing: 1px;
}
.m-card-ul>li>.cr>.number .space{
	padding-right:0.1rem;
}
.m-card-ul>li>.cr>.city{
	
}
.m-card-ul .u-icon-devoted, .m-card-ul .u-icon-act{
	display: inline-block;

	width: 0.15rem;
	height: 0.15rem;
	background-size:0.15rem;
	position: relative;
	top:3px;
}
.m-card-ul .u-icon-pretty, .m-card-ul .u-icon-ordinary{
	display: inline-block;
	margin-top: 0.12rem;

	width: 0.22rem;
	height: 0.22rem;
	background-size:100%;
}
@media screen and (max-width: 340px){
	.m-card-ul>li>.cr>.number{
		font-size: 0.15rem
	}
	.m-card-ul>li>.lt{
		margin: 0 2px;
	}
	.m-card-ul>li>.rt span{
		font-size: 0.11rem;
	}
	.m-card-ul .u-icon-pretty, .m-card-ul .u-icon-ordinary{
		margin-top: 0.16rem;
		width: 0.18rem;
		height: 0.18rem;
	}
}

/*底部入口*/
.m-footer-entry{
	position: relative;
    width: 100%;
}
.m-footer-entry>.item{
	
}
.m-footer-entry>.item>img{
	display: block;
	width: 100%;
}
/*loading*/
.m-no-more{
	text-align: center;
	font-size: 0.1rem;
}
.m-loading {
	display: inline-block;
	position: absolute;
	width: 100%;
	bottom:0;
	left: 0;
    text-align: center;
    height: .25rem;
}
.m-loading>.u-icon-loading{
    position: relative;
    display: inline-block;
    top: 3px;
    width: 0.16rem;
    background-size: 0.16rem;
    background-image: url(../../../assets/img/re.png);
    background-repeat: no-repeat;
    background-position:center;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation: loading-rotate .9s linear infinite;
    -webkit-animation: loading-rotate .9s linear infinite
}
.m-loading>span{
    height: 0.16rem;
}
.m-loading>.text{
    color: #bfbfbf;
}
@keyframes loading-rotate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading-rotate {
    0%{
        -webkit-transform: rotate(0deg)
    }
    100%{
        -webkit-transform: rotate(360deg)
    }
}