.m-pay-choose{
    padding-left: 0.2rem;
}
.m-pay-choose>li{
    display: flex;
    align-items: center;
    padding: 7px 0;
}
.m-pay-choose>li>.lt{
    background-repeat: no-repeat;
    background-position:left center;
    background-size:contain;
    width: 1.2rem;
    height: 0.3rem;
}
.m-pay-choose>li>.rt{
    flex: 1;
    text-align: right;
    padding-right: 0.1rem;
}
.m-pay-choose>li>.rt>.u-icon-right, .m-spin-load{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position:center;
    background-size:0.15rem;
    width: 0.3rem;
    height: 0.3rem;
}
.m-pay-choose>li:first-child{
    border-bottom: 1px solid #ececec;
}
.m-pay-choose, .m-input-money>.clr{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.m-spin-load{
    background-image: url(../../../assets/img/tail-spin.svg);
    background-position: center;
}
.u-icon-right{
    background-image: url(../../../assets/img/icon-right.png);
}
.u-icon-alipay{
    background-image: url(../../../assets/img/alipay.png);
}
.u-icon-wechat{
    background-image: url(../../../assets/img/wechat_pay.png);
}

#payIframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #F6F7F9;
}

.m-pay-status{
    text-align: center;
    margin-top: 0.2rem;
}
.m-pay-status>img{
    width: 0.6rem;
}
.m-pay-status>p{
    margin-top: 5px;
    font-size: 0.15rem;
}

.m-load-box{
    margin: 0.25rem 0;
    text-align: center;
}
.m-load-box>.status{
    margin:5px 0;
    font-size: 0.15rem;
}
.m-load-box>.load>.loading{
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    margin-bottom: 0.1rem;
}
.m-load-box>.load>.loading{
    line-height: 0.57rem;
    border-radius: 50%;
    border:2px solid transparent;
    border-color:#F99B38;
}
.m-load-box>.load>.loading i{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    display: inline-block;
    background-color: #F99B38;
    border-radius: 100%;
    -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.m-load-box>.load>.loading i:first-child {
    margin-left: 0;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.m-load-box>.load>.loading i.layui-m-layerload {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
@-webkit-keyframes layui-m-anim-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes layui-m-anim-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}