body{
    padding-bottom: 0.3rem;
}
.space1{
    display: inline-block;
    width: 6px;
}
.space2{
    display: inline-block;
    width: 26px;
}

.g-col-2{
    margin-bottom: 0.2rem;
}

.m-tips{
    font-size: 0.12rem;
    padding: 0.1rem;
}

.m-set-empty{

}
.m-set-empty>p{
    margin: 0.2rem 0;
    text-align: center;
}
.m-set-empty>img{
    display: block;
    width: 60%;
    margin: auto;
}