.u-icon-sim{
    background-image: url(../../../assets/img/sim_black.png);
}
.u-icon-order{
    background-image: url(../../../assets/img/order.png);
}
.u-icon-bluetooth{
    background-image: url(../../../assets/img/bluetooth.png);
}
.u-icon-power{
    background-image: url(../../../assets/img/power.png);
}
.u-icon-warning{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 0.15rem;
    height: 0.15rem;
    margin-left:5px;
    margin-top: -2px;

    background-image: url(../../../assets/img/icon_error.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.m-spin-load{
    margin:0;
}

.m-device{
    display: flex;
    background-image:url(../../../assets/img/watch_read_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.m-device>.lt{
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}
.m-device>.watch{
    background-image:url(../../../assets/img/picture_watch.png);
}
.m-device>.eSIM{
    background-image:url(../../../assets/img/watch_read_icon.png);
}
.m-device>.rt{
    flex: 2;
}
.m-device>.info{
    
}
.m-device>.info>.bluetooth>i, .m-device>.info>.power>i{
    display: inline-block;
    vertical-align: top;
    width: 0.2rem;
    height: 0.2rem;
    margin-right:5px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.2rem;
}
.m-device>.info>.bluetooth>span, .m-device>.info>.power>span{
    display: inline-block;
    vertical-align: top;
    line-height: 0.2rem;
}
.m-device>.info>.name{
    margin-top: 0.1rem;
}
.m-device>.info>.name>.tip{
    color: #777;
    font-size: 0.11rem;
}
.m-device>.info>.name>h2{
    font-weight: normal;
}
.m-device>.info>.bluetooth{
    margin:0.1rem 0;
}
.m-device>.info>.power{
    
}
.m-device>.info>.tip{
    padding: 0.15rem 0;
    font-size: 0.12rem;
    color: #6D7BBF;
}
