@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

em,
i {
    font-style: normal
}

ol,
ul {
    list-style: none
}

img {
    -webkit-touch-callout: none
}

html {
    font-size: 625%;
    -webkit-font-smoothing: antialiased;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

body {
    max-width: 960px;
    min-width: 300px;
    margin: auto;
    width: 100%;
    color: rgba(0,0,0,0.65);
    font-family: Helvetica Neue, sans-serif;
    background: #F8F8F8;
    font-size: .13rem;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}
#app{
    font-size: .13rem;
    transition: opacity ease 0.6s;
    -webkit-transition: opacity ease 0.6s;
}
input,
textarea {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.red {
    color: #ED3A26!important
}
.green {
    color: #10CD6E!important;
    /*2ecc71*/
}
.yellow {
    color: #F99B38!important
}
.purple {
    color: #4b3887!important
}
.grey{
    color: #757575!important
}
.black{
    color: #212121!important
}
.blue{
    color: #1495D5!important
}
/*按钮*/
.btn{
    width: 85%;
    margin:auto;
    font-size:0.14rem;
    text-align: center;
    border:1px solid transparent;
    margin-top: 0.3rem;
    padding:11px 0 9px 0;
    border-radius: 20px;
    transition: all .05s ease-out;
    -webkit-transition: all .05s ease-in-out;
}
.btnScale:active {
    transform: scale(.92);
    -moz-transform: scale(.92);
    -webkit-transform: scale(.92)
}
.bgp {
    background: #4b3887;
    color: #fff;
}
.bgg {
    background: #10CD6E;
    color: #fff;
}
.bgy {
    background: #F99B38;
    color: #fff;
}
.bgw{
    background: #fff;
}
.btnDefault{
    color: #ACA9A9;
    background-color: #FFF;
    border-color: #CECECE
}
.btnDefault:active{
    color: #ACA9A9;
    background-color: #ececec;
    border-color: #CECECE
}
.btny{
    border-color: #F99B38!important;
    color: #F99B38;
}
.btny:active{
    background-color: #F99B38;
    color: #fff
}
.btnp{
    border-color: #4b3887!important;
    color: #4b3887;
}
.btnp:active{
    background-color: #4b3887;
    color: #fff
}
.btng{
    border-color: #10CD6E!important;
    color: #10CD6E;
}
.btng:active{
    background-color: #10CD6E;
    color: #fff
}
.btny.btnDefault{
    background-color:transparent;
}

.clr:after {
    content: '';
    display: table;
    clear: both
}
.fl {
    float: left
}
.fr {
    float: right
}
.f-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
}
.f-tal{
    text-align: left !important;
}
.f-tar{
    text-align: right;
}
.f-fts-12{
    font-size: 0.12rem;
}
.f-fts-18{
    font-size: 0.18rem;
}
.f-tdl{
    text-decoration: line-through;
    margin: 0 5px;
    font-size: 0.1rem;
}
.u-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
/*icon*/
.u-icon-tag{background-image: url(../img/shiming_title_icon.png);}
/*layer-loading*/
.m-loading-ka{
    width: 0.5rem;
    height: 0.5rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: hsla(0, 0%, 100%, 0.6);
    
    border-radius: 7px;
    background-image: url(../img/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.25rem;
}

.m-nodata-img{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-nodata-img>.inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.m-nodata-img>.inner>img{
    width: 1rem;
    margin-bottom: 5px;
}
.m-nodata-img>.inner>div{
    color: #BFBFBF;
    margin-right: 0.1rem;
}

/*时间轴*/
.m-time-axis{
    padding-top: 0.1rem;
    display: table;
    text-align: center;
    width: 100%;
}
.m-time-axis>li{
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}
.m-time-axis-sub{padding-bottom: 0.1rem;}
.m-time-axis-sub>li{ float: left;width: 20%;text-align: center;}
.m-time-axis>li>.title{
    color:#CACACA;font-size: 0.12rem;
}
.m-time-axis-sub>li>.sub-line{position: relative;}
.m-time-axis-sub>li>.sub-line>b{
    display: inline-block;
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color:#CACACA;
    vertical-align: middle;
}
.m-time-axis-sub>li>.sub-line>span{
    position: absolute;
    margin-top: 1px;
    top: 50%;
    left: 50%;
    width:80%;
    margin-left: 0.1rem;
    border-top:1px solid transparent;
    border-color:#CACACA;
}
.m-time-axis-sub .set-w-5{width: 0% !important;}
.m-time-axis>.passed>.title{color: #000;}
.m-time-axis-sub>.passed>.sub-line>b{background-color:#000 !important;}
.m-time-axis-sub>.passed>.sub-line>span{border-color:#000 !important;}
.m-time-axis>.active>.title{color: #F99B38;}
.m-time-axis-sub>.active>.sub-line>b{background-color:#F99B38 !important;}
.m-time-axis-sub>.active>.sub-line>span{border-color:#F99B38 !important;/*#6c71c4*/}

@media screen and (max-width: 340px){
    .m-time-axis>li>.title{font-size: 0.1rem;}
    .m-time-axis-sub>li>.sub-line>span{
        width: 75%;
    }
}
@media screen and (min-width: 540px){
    .m-time-axis>li>.title{font-size: 0.13rem;}
    .m-time-axis-sub>li>.sub-line>span{
        width: 85%;
    }
}

.m-all-tag{
    padding:7px 0 7px 20px;
    position: relative;
}
.m-all-tag>.u-icon-tag{
    position: absolute;
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.1rem;
    top: 7px;
    left: 3px;
}

.g-col-2{
    background-color: #fff;
}
.g-col-2>.line{
    border-bottom: 1px solid #eee;
}
.g-col-2>.row{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;

    margin-left: 0.1rem;
    padding:0.1rem 0;
}
.g-col-2>.row>span{
    
}
.g-col-2>.row>.left{
    color: #515151;
    width: 0.7rem;
}
.g-col-2>.row>.right{
    padding-right: 0.1rem;
    flex: 1;
    -webkit-flex:1;
}

.oldPrice{
    text-decoration:line-through;
    color: #717171;
    font-size:0.12rem !important;
    margin-top:2px;
}
.discount{
    font-size:0.14rem;
    padding-left: 0.1rem;
}