.m-write-load{
	margin-top: 0.5rem;
	text-align: center;
}
.m-write-load>.m-loading-ka{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-size: 0.6rem;
	box-shadow: none;
	background-color: #F8F8F8
}
.m-write-load>h4{
	margin-top: 0.1rem;
}
.m-error{
    text-align: center;
    margin-top: 0.5rem;
}
.m-error>img{
    width: 0.8rem;
}
.m-error>h3{
	margin-top: 5px 0;
	font-size: 0.17rem;
}
.m-error>p{
    font-size: 0.15rem;
}
.m-error>.tips{
	margin-top:0.2rem;
	font-size: 0.12rem;
	line-height: 1.65;
	padding:0 0.2rem;
}

.btn.btny{
	color:#EA6E08 !important;
	border-color:#EA6E08 !important;
	position: relative;
}
.btn.btny:active{
	background-color:#F1B97C;
}
.btn.btny>b{
	position: absolute;
	display: block;
	width: 0;height: 100%;top: 0;left: 0;
	border-radius: 25px;
	z-index: -1;
	background-color:#F1B97C;
}
.btn.btny.active>b{
	animation:aniBgMove 2s linear infinite;
	-webkit-animation:aniBgMove 2s linear infinite;
}
@keyframes aniBgMove{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@-webkit-keyframes aniBgMove{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}