.verification-box{
    margin: 0.6rem 0;
    text-align: center;
}
.verification-box>.load{}
.verification-box>.load>.loading, .verification-box>.load>.loaded{
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    margin-bottom: 0.1rem;
}
.verification-box>.load>.loading{
    line-height: 0.57rem;
    border-radius: 50%;
    border:2px solid transparent;
    border-color:#eb7a00;
}
.verification-box>.load>.loaded{
    background-image: url(../img/picture_writecard.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:0.6rem;
}
.step-text{}
.step-text h3{
    margin:5px 0;
    font-weight: normal;
}
.step-text img{
    width: 1.5rem;
}
.m-reason{
    width: 80%;
    margin:auto;
    margin-top:0.2rem;
}
.m-reason>p{
    color: #616161;
    line-height: 1.65;
}
.m-reason span{
    color: #212121;
}

.verification-box>.load>.loading i {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    display: inline-block;
    background-color: #eb7a00;
    border-radius: 100%;
    -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    animation: layui-m-anim-loading 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.verification-box>.load>.loading i:first-child {
    margin-left: 0;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.verification-box>.load>.loading i.layui-m-layerload {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
@-webkit-keyframes layui-m-anim-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes layui-m-anim-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}