body{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}
#app{
    padding-bottom: 0.3rem;
}
.m-certificate-info, .m-pic, .o-tips{
    background-color: #fff;
}

.m-certificate-info>li{
    height: 0.4rem;
    line-height: 0.4rem;
    border-bottom: 1px solid #eee;
}
/*.m-certificate-info>li:last-child{
    border-bottom: none;
}*/
.m-certificate-info>li>.fl{
    color: #555;
}
.m-certificate-info>li>.fr{}
.o-input{}
.o-input .fl{
    display: inline-block;
    text-align: right;
    font-size: 0.12rem;
    width: 0.7rem;
}
.o-input div{
    margin-left: 0.75rem;
}
.o-input div>input{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    border:1px solid transparent;
    outline: none;
    font-size: 0.15rem;
    border-bottom-color:#eee;
    border-radius: 0px;
}
.o-input div>input:focus{
    border-bottom-color:#4b3887; 
}
.space3{
    display: inline-block;
    width: 0.36rem;
}
.space1{
    display: inline-block;
    width: 4px;
}
.o-tips{
    font-size:0.1rem;line-height: 1.5;
    padding:0.1rem;
}

.f-s-10{
    font-size: 0.1rem;
}

/*拍照*/
.m-takePhoto, .photo-tag{
    display: flex;
    display: -webkit-flex;
}
.u-icon-photo{
    background-image: url("../img/sdk2_ic_photograph.png");
}
.m-takePhoto>.box{
    flex: 1;
    -webkit-flex: 1;
    margin:5px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border:1px dashed #333;
}
.m-takePhoto>.box>a{
    position: absolute;
    top: 50%;
    left:50%;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: -0.4rem;
    margin-top: -0.4rem;
    background-position: center;
    background-size: 100%;
    background-repeat:no-repeat;
}
.photo-tag>.item{
     flex: 1;
    -webkit-flex: 1;
    text-align: center;
    color:#555;
    font-size: 0.12rem;
    margin-bottom:5px;
}
@media screen and (max-width: 414px){
    .m-takePhoto>.box>a{
        width: 0.5rem;
        height: 0.5rem;
        margin-left: -0.25rem;
        margin-top: -0.25rem;
    }
}
#photo-front{
    background-image: url("../img/IDphoto01.png");
}
#photo-back{
    background-image: url("../img/IDphoto02.png");
}
/*#photo-hand{
    background-image: url("../img/IDphoto03.jpg");
}*/

/*复选框*/
.m-form-checkbox>div{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
}

.m-form-checkbox>div>.checkbox{
    white-space: nowrap;
    outline: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-right: 3px; 
}
.m-form-checkbox>div>.checkbox, .m-form-checkbox>div>.text>span{
    height: 0.3rem;
}
.m-form-checkbox>div>.text, .m-form-checkbox>div>.text>span, .m-form-checkbox>div>.text>a{
    display: inline-block;
    height: 0.3rem;
    vertical-align: middle;
}

.m-form-checkbox>div>.checkbox>span{
    display: inline-block;
    position: relative;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: #fff;
    
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.m-form-checkbox>div>.checkbox>span:active {
    border-color: #4b3887
}

.m-form-checkbox>div>.checkbox>span:after {
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    -webkit-transform: rotate(45deg) scaleY(0);
    width: 4px;
    transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    -webkit-transition: transform .15s cubic-bezier(.71, -.46, .88, .6) .05s;
    transform-origin: center
}

.m-form-checkbox>div>.text{
    font-size: 12px;
}
.m-form-checkbox>div>.checkbox.active>span{
    border-color: #4b3887;background: #4b3887;
}
.m-form-checkbox>div>.checkbox.active>span:after{
    transform: rotate(45deg) scaleY(1);
    -webkit-transform: rotate(45deg) scaleY(1)
}
/*设置服务密码*/
.o-tips2{
    font-size: 0.12rem;
    position: relative;
    margin-top:-5px;
    padding:0 5px;
}
.o-set-ul{

}
.o-set-ul>li{
    display: flex;
    margin-left:0.1rem;
    padding:5px 10px 5px 5px;
}
.o-set-ul>li:first-child{
    border-bottom: 1px solid #eee;
}
.o-set-ul>li>.lt{
    width: 0.7rem;
    line-height: 0.3rem;
}
.o-set-ul>li>.rt{
    flex:1;
}
.o-set-ul>li>.rt>input{
    width: 100%;
    height: 0.3rem;
    border:none;
    letter-spacing: 3px;
}
/*手签名模块*/

.m-sign{}
.m-sign>.fl{
    font-size: 0.12rem;
    line-height: 0.7rem;
}
.m-sign>.fr{
    width: 0.7rem;
    height: 0.7rem;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
#signatureBox, #signatureBox>.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#signatureBox{
    z-index: -1;
    opacity: 0;
}
#signatureBox.active{
    z-index: 888;
    opacity: 1;
}
#signatureBox>.mask{
    background-color: rgba(0,0,0,0.5);
    z-index: 777;
}
#signatureBox>.inner{
    position: absolute;
    left: 0;
    bottom:0;
    z-index: 778;
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
#signatureBox>.inner>.title{
    background-color: #f5f6f7;
}
#signatureBox>.inner>.title>.fl{
    line-height: 0.3rem;
    padding-left:0.1rem;
    color: #212121;
}
#signatureBox>.inner>.title>a{
    display: inline-block;
    background-size: 0.15rem;
    background-repeat: no-repeat;
    height: 0.3rem;
    line-height:0.32rem;
    padding-left: 0.2rem;
    font-size:0.14rem;
}
/*#save{
    background-image: url(../img/save.png);
    background-position: left center;
    width: 0.5rem;
}*/
#clear{
     background-image: url(../img/clear_grey.png);
     background-position:center;
     width:0.6rem;
}
#signatureBox>.inner>canvas{
    background-color: #fff;
    opacity: 1;
    width: 100%;
    /*height:6rem;*/
    outline: none;
}
#signatureBox>.inner>.footer{}
#signatureBox>.inner>.footer>a{
    background-color: #fff;
    color: #323435;
    border-top: 1px solid #eee;
    font-size:0.14rem;
    display: block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
}