#app.active{
    overflow: hidden;
}
.m-verification-box{
    text-align: center;
}
.m-verification-box>.inner{
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    width: 35%;
}
.m-verification-box>.inner>img{
    width: 100%;
}
.m-verification-box>.inner>.u-icon-success{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background-position: center;
    background-size:0.4rem;
    background-repeat: no-repeat;
    background-image: url(../img/icon_suc_a.png);
}
.m-verification-box>div>.f-w{
    font-size: 0.17rem;
}
.m-verification-box>div>.grey{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}
.m-verification-box>div>.grey>.yellow{
    font-size: 0.18rem;
}
.o-tips{
    font-size: 0.12rem;
    margin-left: 0.3rem;
    line-height: 1.65;
}