@charset "utf-8";
.u-icon-location{background-image: url(../img/icon_location.png);}
.u-icon-cancel{background-image: url(../img/cancel.png);}
.u-icon-search{background-image: url(../img/icon_search.png);}
.u-icon-openmore{background-image: url(../img/openmore.png);}
.u-icon-tagdown{background-image: url(../img/tagdown.png);}
.u-icon-clear{background-image: url(../img/clear.png);}

.f-mlr-10{
	margin:0 0.1rem;
}
.f-mt-20{
	margin-top:0.2rem;
}
/*-----------搜索----------*/
.m-msg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding:3px;
	padding-left: 0.15rem;
	width: 100%;
	animation:msgDown .5s ease-in-out;
}
@keyframes msgDown{
	0%{
		top: -25px;
	}
	100%{
		top: 0;
	}
}
.m-search{
	
}
.m-hd{
	margin:0 5px;
	margin-bottom:0.2rem;
}
.m-hd>b{
	font-size: 0.24rem;
	margin-right: 0.1rem;
}
.m-hd .u-icon-location{
	padding: 2px 12px;
	background-repeat: no-repeat;
	background-size:0.2rem;
	background-position: center;
}
.m-hd>.text{
	font-size: 0.14rem;
	color: #515151
}
.m-sch{
	position: relative;
}
.m-sch>input{
	display: block;
	width: 100%;
	font-size: 0.14rem;
    height: 0.45rem;
    line-height:normal;
    padding-left: 0.15rem;
    border:1px solid transparent;
    border-color: #515151;
    border-radius: 7px;
}
.m-sch>input::-webkit-search-cancel-button {
	display: none;
}
.m-sch>input::-webkit-input-placeholder { 
  line-height: 1.5em;
}
.m-sch>input:-moz-placeholder {
  line-height: 1.5em;
}
.m-sch>input::-moz-placeholder {
  line-height: 1.5em;
}
.m-sch>input:-ms-input-placeholder {
  line-height: 1.5em;
}
.m-sch>span{
	position: absolute;
	top: 0;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width:0.45rem;
	height: 0.45rem;
}
.m-sch>.u-icon-cancel{
	background-size:0.2rem;
	right: 0.45rem;
}
.m-sch>.u-icon-search{
	background-size:0.3rem;
	right: 0;
}
.m-slt-lb{
	width: auto !important;
	height: auto !important;
	padding: 5px 7px;
	top: 9px !important;
	left: 0.15rem;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.m-slt-lb>.u-icon-clear{
	width: 0.1rem;
	height: 0.1rem;
	display: inline-block;
	margin-left: 3px;
	background-repeat: no-repeat;
	background-size:0.1rem;
	background-position: center;
	position: relative;
	top: 1px;
}
/*-----------热门标签----------*/
.m-hot-label{
	
}
.m-hot-label>li{
	display: inline-block;
	padding:7px 10px;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	margin-right: 0.1rem;
	margin-bottom:0.1rem;
}
.btn-openmore{
	display: inline-block;
	padding: 10px;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.btn-openmore>.u-icon-openmore{
	padding: 4px 10px;
	background-repeat: no-repeat;
	background-size:0.13rem;
	background-position: center;
}
/*-----------更多标签----------*/
.m-search-label{
	margin:0.15rem 0.1rem;
}
#btn-more-label{
	display: inline-block;
	padding:5px 10px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	border-radius: 7px;
	position: relative;
}
#btn-more-label:after{
	content: '';
	box-sizing: border-box;
	display: none;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 5px;

	background-color: #fff;
	z-index: 11546;
}
#btn-more-label.active{
	border-radius: 7px 7px 0 0;
}
#btn-more-label.active:after{
	display: inline-block;
}
#btn-more-label.active>i{
	transform:rotate(180deg);
}
#btn-more-label>.u-icon-tagdown{
	display: inline-block;
	width: 0.1rem;
	height: 0.1rem;
	margin-left:3px;
	background-repeat: no-repeat;
	background-size:0.1rem;
	background-position: center;
}
#m-more-label{
	position: absolute;
	width: 100%;
	left: 0;
	display: none;
}
#m-more-label.active{
	display: block;
}
#m-more-label>.m-hot-label{
	position: absolute;
	background-color: #fff;
	z-index: 999;
	width: 100%;
	padding: 0.1rem;
	max-height: 60%;
	border-top: 1px solid #eee;
}
#m-more-label>.u-mask{
	z-index: 888;
}
/*-----------号码----------*/
#cardBox{
	position: relative;
	padding-bottom: 0.1rem;
}
.m-card-ul{
	
}
.m-card-ul>li{
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	border-radius: 7px;
	margin-bottom: 0.15rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
}
.m-card-ul>li:active{
	color:#4b3887;
	box-shadow: 0 0 3px rgba(75,56,135,0.7);
}
.m-card-ul .number{
	display: inline-block;
	font-size: 0.18rem;
	font-weight: bold;
	letter-spacing: 1px;
}
.m-card-ul .number .space{
	padding-right:0.1rem;
}
.m-card-ul .city{
	position: relative;
}
.m-card-ul .u-icon-pretty{
	position: absolute;
	top: -2px;
	right: -0.4rem;
	width: 0.2rem;
	height: 0.2rem;
	background-repeat: no-repeat;
	background-size:0.17rem;
	background-position: center;
}
/*loading*/
.m-load-tag{
	text-align: center;
}
.m-loading {
	display: inline-block;
    text-align: center;
    width:.25rem;
    height: .25rem;
}

.m-loading .circular {
    width: .25rem;
    height: .25rem;
    animation: loading-rotate 2s linear infinite;
    -webkit-animation: loading-rotate 2s linear infinite;
}

.m-loading .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #4b3887;
    stroke-linecap: round
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

@-webkit-keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}
@keyframes loading-rotate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading-rotate {
    0%{
        -webkit-transform: rotate(0deg)
    }
    100%{
        -webkit-transform: rotate(360deg)
    }
}