@charset "utf-8";
.u-icon-location{background-image: url(../img/icon_location.png);}
.u-icon-search{background-image: url(../img/icon_search.png);}
.u-icon-openmore{background-image: url(../img/openmore.png);}
.u-icon-tagdown{background-image: url(../img/tagdown.png);}
.u-icon-clear{background-image: url(../img/icon_search_lable_clear.png);}

.f-mlr-20{
	margin:0 0.2rem;
}
.f-mt-20{
	margin-top:0.2rem;
}
body{
	position: absolute;
	width:100%;
	height: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin:auto;
}

.m-hd .u-icon-location, .m-sch>span, .m-slt-lb>.u-icon-clear, .btn-openmore>.u-icon-openmore, .m-card-ul .u-icon-pretty{
	background-repeat: no-repeat;
	background-position: center;
}

/*-----------搜索----------*/
.m-msg{
	position: relative;
	padding:3px 0;
	padding-left: 5px;
	width: 100%;
	animation:msgDown .5s ease-in-out;
}
@keyframes msgDown{
	0%{
		top: -25px;
	}
	100%{
		top: 0;
	}
}
.m-search-tag{
	margin: 5px;
	margin-top: 0.15rem;
}
.m-hd{
	margin:0 5px;
	margin-bottom:0.15rem;
}
.m-hd>b{
	font-size: 0.24rem;
	margin-right: 0.1rem;
}
.m-hd .u-icon-location{
	display: inline-block;
	position: relative;
	top: -1px;
	vertical-align: middle;
	height: 0.2rem;
	width: 0.2rem;
	background-size:0.2rem;
}
.m-hd>.text{
	font-size: 0.14rem;
	color: #515151;
}
.m-sch{
	position: relative;
}
.m-sch>input{
	display: block;
	width: 100%;
	font-size: 0.15rem;
    height: 0.45rem;
    line-height:normal;
    padding-left: 0.15rem;
    border:1px solid transparent;
    border-color: #515151;
    border-radius: 7px;
    transition:border-color .3s;
}
.m-sch>input:focus{
	border-color:#FF6600;
}
.m-sch>input::-webkit-search-cancel-button {
	display: none;
}
.m-sch>input::-webkit-input-placeholder { 
  line-height: 1.5em;
}
.m-sch>input:-moz-placeholder {
  line-height: 1.5em;
}
.m-sch>input::-moz-placeholder {
  line-height: 1.5em;
}
.m-sch>input:-ms-input-placeholder {
  line-height: 1.5em;
}
.m-sch>span{
	position: absolute;
	top: 0;
	display: inline-block;
	width:0.45rem;
	height: 0.45rem;
}
.m-sch>.u-icon-cancel{
	background-size:0.2rem;
	right: 0.45rem;
}
.m-sch>.u-icon-search{
	background-size:0.3rem;
	right: 0;
}
.m-slt-lb{
	display: inline-block;
	padding:6px 7px 5px 7px;
	border-radius: 3px;
	border:1px solid transparent;
	border-color:#eee;
	background-color: #fff;
}
.m-slt-lb>.u-icon-clear{
	width: 0.15rem;
	height: 0.15rem;
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	background-size:0.15rem;
	position: relative;
	top: -1px;
}
/*-----------热门标签----------*/
#hotLabel{
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.m-hot-label{
	width: 450px;
}
.m-hot-label>li{
	display: inline-block;
	padding:9px 10px 7px 10px;
	border-radius: 5px;
	border:1px solid transparent;
	border-color:#eee;
	background-color: #fff;
	margin-right: 0.1rem;
	margin-bottom:0.1rem;
}
.m-hot-label>li:nth-child(5n+1), .m-hot-label>li:nth-child(1){
	color:#9e61ad;
}
.m-hot-label>li:nth-child(5n+2), .m-hot-label>li:nth-child(2){
	color:#e56b59;
}
.m-hot-label>li:nth-child(5n+3), .m-hot-label>li:nth-child(3){
	color:#fc9c2b;
}
.m-hot-label>li:nth-child(5n+4), .m-hot-label>li:nth-child(4){
	color:#25abcd;
}
.m-hot-label>li:nth-child(5n+5), .m-hot-label>li:nth-child(5){
	color:#6fbd3b;
}
.btn-openmore{
	display: inline-block;
	padding: 10px;
	border-radius: 7px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.btn-openmore>.u-icon-openmore{
	padding: 4px 10px;
	background-size:0.13rem;
}
.m-search-label{
	margin-top: 0.15rem;
}
/*-----------号码----------*/
#cardBox{
	position: relative;
	padding-bottom:0.1rem;
}
.m-card-ul>li{
	background-color: #fff;
	border:1px solid transparent;
	border-color:#eee;
	border-radius: 7px;
	margin-bottom: 0.15rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
}
.m-card-ul .number{
	display: inline-block;
	font-size: 0.2rem;
	letter-spacing: 1px;
}
.m-card-ul .number .space{
	padding-right:0.1rem;
}
.m-card-ul .city{
	position: relative;
	top: -2px;
}
.m-card-ul .u-icon-pretty{
	position: absolute;
	display: inline-block;
	top: -2px;
	right: -0.2rem;
	width: 0.17rem;
	height: 0.17rem;
	background-size:0.17rem;
}
/*loading*/
.m-load-tag{
	text-align: center;
}
.m-load-tag>.no-more{
	font-size: 0.1rem;
}
.m-loading {
	display: inline-block;
    text-align: center;
    width:.25rem;
    height: .25rem;
}

.m-loading .circular {
    width: .25rem;
    height: .25rem;
    animation: loading-rotate 2s linear infinite;
    -webkit-animation: loading-rotate 2s linear infinite;
}

.m-loading .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #4b3887;
    stroke-linecap: round
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

@-webkit-keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}
@keyframes loading-rotate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading-rotate {
    0%{
        -webkit-transform: rotate(0deg)
    }
    100%{
        -webkit-transform: rotate(360deg)
    }
}