.u-icon-right{background-image:url(../img/icon-right.png);}

/*可选包*/
.m-col-double>li{
    text-align: center
}
.m-col-double {
    padding: 0 .1rem;
    font-size: .13rem
}

.m-col-double>li{
    border:1px solid transparent;
    background-color: #F0F2F5;
    color: #212121;
    border-radius: 5px;
    padding: 8px 0;
    margin-bottom: .1rem;
    float: left;
}
.m-col-double>li {
    width: 48%;
    margin-left: 4%
}
.m-col-double>li:nth-child(odd) {
    margin-left: 0
}
.m-col-double>.active, .m-col-double>.active2{
    position: relative;
    border-color: #4b3887;
    background-color:#fff;
    color:#4b3887;
}
.m-col-double>.active:after, .m-col-double>.active2:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100%
}
.m-col-double>.active:after {
    bottom: 0;
    width: .25rem;
    height: .25rem;
    background-image: url(../img/ic_checked.png);
}
.m-col-double>.active2:after {
    background-image: url(../img/ic_checked2.png);
    width: .3rem;
    height: .3rem;
    bottom: -1px
}

/*套餐详情*/
.details {
    font-size: .13rem;
    height: 3rem;
    margin:0 5px;
}
.details-header{
    
}
.details-content{
    line-height: 1.6;
    padding: 0.1rem 0;
    color: #313131;
}
.details>table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    margin:0.1rem 0;
}

.details>table td {
    border: 1px solid #eee;
    padding: .05rem;
    color: #757575;
    line-height: 1.6
}

.details>table td:last-child,
.lastTD {
    text-align: center;
    min-width: .5rem;
    color: #2e3e4e;
    font-size: .14rem
}

/*可选包详情*/
.select-info {
    max-height: 320px;
    font-size: .13rem
}
.select-info>dl {
    margin-bottom: .1rem
}
.select-info>dl:last-child {
    margin-bottom: 0
}
.select-info>dl>dt {
    margin-bottom: 3px
}
.select-info>dl>dd {
    line-height: 1.6;
    color: #555;
    font-size: .12rem
}
.select-info>dl>.b {
    font-weight: 700;
    color: #232425
}