.u-icon-right{background-image:url(../img/icon-right.png);}
/*.u-icon-shift{background-image:url(../img/shift.png);}*/

.m-recommend-ul{
    padding-bottom: 0.1rem;
}
.m-recommend-ul>li{
    width: 22%;
    margin:0 1.5%;
    float: left;
    padding:7px 0 5px 0;
    border:1px solid transparent;
    border-color: #757575;
    color: #757575;
    background-color: #fff;
    text-align:center;
    border-radius:3px;
}
.m-recommend-ul>.active{
    border-color: #4b3887;
    color: #4b3887;
}

.m-packageList{
    
}
.m-packageList>li{
    position: relative;
    padding:0.1rem 0 0.1rem 0.05rem;
    margin-left: 0.1rem;
    border-bottom: 1px solid #eee;
}
.m-packageList>li:last-child{
    border-bottom: none;
}
.m-packageList>li>.title{
    font-size: 0.14rem;
}
.m-packageList>li>.info{
    font-size: 0.12rem;
    padding-right: 0.6rem;
    margin-top: 5px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.m-packageList>li>.right{
    position: absolute;
    right: 0.1rem;
    top: 0.2rem;
    height: 0.2rem;
    line-height: 0.22rem;
    padding-right: 0.2rem;
    background-size: 0.15rem;
    background-position: right center;
    background-repeat:no-repeat;
}
.m-packageList>.active>.right{
    top:0.1rem;
}
.m-packageList>.active>.info{
    margin-top:0;
}

#packageList{
    position: relative;
    max-height: 3rem;
    min-height: 0.5rem;
    border-top: 1px solid #eee;
}
#packageList>.pay-load{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-0.1rem;
    margin-left: -0.2rem;
}

.btn-c-package{}
.btn-c-package>.u-icon-shift{
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    background-position: center;
    background-size: 0.15rem;
    background-repeat: no-repeat;
}

.pay-load{}
.pay-load>b{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:#F99B38;
    -webkit-animation: pay-loading 1.4s infinite ease-in-out;
    animation: pay-loading 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.pay-load>b.f1 {
    margin-left: 0;
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.pay-load>b.f2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
@-webkit-keyframes pay-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@keyframes pay-loading {
    0%,
    100%,
    80% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}