.select-city dl>.active a{
	background-repeat: no-repeat
}
.select-city>section {
    background-color: #fff
}
.select-city>header {
    background-color: #EBECEE;
    padding: .1rem .2rem
}
.select-city>header>input {
    width: 100%;
    text-indent: .3rem;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: .17rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    height: .4rem;
    font-size: .15rem;
    line-height: 1.6;
    outline: 0;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}
.select-city>header>input:focus {
    outline: 0;
    border-color: #20a0ff
}
.select-city dl>dd{
    font-size: .14rem
}
.select-city dl {
    padding-top: .15rem
}

.select-city dl>dt {
    padding: 0 .03rem;
    color: #777;
    width: 92%;
    margin: auto
}

.select-city dl>dd>a {
    width: 92%;
    margin: auto;
    border-bottom: 1px solid #efefef;
    color: #000;
    display: block;
    padding: .1rem .05rem
}

.select-city dl>.active a {
    color: #E9AD03;
    background-position: right center;
    background-size: .15rem
}

.select-city dl>dd a:active {
    background-color: #F9FAFC
}
#app>section {
	position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    right: 0;
    bottom: 0;
    z-index: 777;
    width: 100%;
    padding: 0!important;
    max-width: 960px;
    min-width: 300px;
    margin: auto;
    background-color: #fff
}