.m-insert-card{
    margin:0.1rem;
    text-align: center;
}
.m-top-msg{
    margin-top: 0.4rem;
    font-size: 0.14rem;
}
.m-top-msg>.ftb{
    font-size: 0.16rem;
    margin-bottom: 5px;
}
.m-card-box{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}
.m-inner-box{
    display: inline-block;
    position: relative;
}
.m-inner-box>img{
    width: 5rem;
}
@media screen and (max-width: 375px){
    .m-inner-box>img{
        width:2.8rem; 
    }
}
@media screen and (min-width: 376px) and (max-width: 540px){
    .m-inner-box>img{
        width:3.5rem; 
    }
}
@media screen and (min-width: 541px) and (max-width: 640px){
    .m-inner-box>img{
        width:4rem; 
    }
}
.m-inner-box>.iccid{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 0.15rem;
    letter-spacing: 1px;
}
.m-tips{
    padding:0 0.1rem;
    text-align: left;
}
.m-tips>p{
    line-height: 1.65;
    font-size: 0.12rem;
    margin-top: 5px;
    word-break: break-all;
}
