<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>手机充值</title>
<style type="text/css">
[m-mask]{
	opacity: 0
}
</style>
</head>
<body>
<div id="app" m-mask>
	<div class="m-input-phone">
		<div class="box yellow">
			<input type="tel" m-model="recharge.phone" m-on:keydown="phoneKeydown" maxlength="13" placeholder="请输入充值的手机号码">
			<i class="u-icon-cancel" m-show="recharge.phone.length" m-on:click="clearInput"></i>
		</div>
		<div class="msg">
			<div m-show="recharge.isp">
				<span m-show="recharge.isp == 1">移动</span>
				<span m-show="recharge.isp == 2">联通</span>
				<span m-show="recharge.isp == 3">电信</span>
				<span m-show="recharge.isp == 4">远特卡</span>
				<span>{{ recharge.city }}</span>
			</div>
			
		</div>
	</div>
	<div class="m-face-box">
		<header>充话费</header>
		<ul>
			<li
				m-for="face,index in faceList"
				m-on:click="faceSelect(index)"
				m-literal:class="{active:off.select == index,noselect:face.status == 0}">
				<div class="face">{{ mathCentToYuan(face.fee) }}</div>
				<div class="price f-fts-12">售价：{{ mathDiscount(face.fee,face.discount) }}元</div>
			</li>
		</ul>
	</div>
	<section m-show="recharge.city">
		<div class="m-input-money">
			<div class="lt">其他金额</div>
			<div class="rt"><input type="tel" m-model="inputMoney" m-on:click="clickInputMoney" m-on:input="onInputMoney" maxlength="5" placeholder="请输入充值金额（不得低于30元）"></div>
		</div>

		<div class="m-tag">支付方式</div>
		<ul class="m-pay-choose">
			<li class="m-form-radio" m-on:click="shiftPayType(3)">
				<div class="clr">
					<span class="text u-icon-alipay"></span>
					<span class="radio fr"><input type="radio" value="3"><span m-literal:class="{active:off.payType==3}"></span></span>
				</div>
			</li>
			<li class="m-form-radio" m-show="deviceType!=3">
				<div class="clr" m-on:click="shiftPayType(2)">
					<span class="text u-icon-wechat"></span>
					<span class="radio fr"><input type="radio" value="2"><span m-literal:class="{active:off.payType==2}"></span></span>
				</div>
			</li>
		</ul>
		<div m-show="off.payStatus == 1" m-on:click="pay" class="btn btng">
			<span m-show="!off.load">立即充值</span>
			<span m-show="off.load==1">正在支付，请稍候<span class="pay-load">
				<b class="f1"></b>
				<b class="f2"></b>
				<b></b>
			</span></span>
			<span m-show="off.load==2">获取支付结果中<span class="pay-load">
				<b class="f1"></b>
				<b class="f2"></b>
				<b></b>
			</span></span>
		</div>
		<div m-show="off.payStatus==2">
			<div class="m-pay-status">
				<img src="../../assets/img/icon_suc_a.png">
				<p class="green">支付成功</p>
			</div>
			<div m-on:click="clearInput" class="btn btny">继续充值</div>
		</div>
		<div m-show="off.payStatus==3">
			<div class="m-pay-status">
				<img src="../../assets/img/icon_failure.png">
				<p class="red">支付失败</p>
			</div>
			<div m-on:click="pay" class="btn btnp">继续充值</div>
		</div>
	</section>
</div>
<script src="https://cdn.bootcss.com/moonjs/0.11.0/moon.min.js"></script>
</body>
</html>
